<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <title>index</title>
	    <link rel="stylesheet" type="text/css" data-th-href="${_contextPath} + @{/comm/plugins/bootstrap/bootstrap.min.css(v=${_v})}" />
	    <link rel="stylesheet" type="text/css" data-th-href="${_contextPath} + @{/comm/plugins/Font-Awesome-4.7.0/css/font-awesome.css(v=${_v})}"/>
	    <link rel="stylesheet" type="text/css" data-th-href="${_contextPath} + @{/custom/package/ppr/css/exam/mark/global.css(v=${_v})}"/>
	    <link rel="stylesheet" type="text/css" data-th-href="${_contextPath} + @{/custom/package/ppr/css/exam/mark/markImage.css(v=${_v})}"/>
		<script type="text/javascript" data-th-href="${_contextPath} + @{/comm/plugins/jQuery/jquery-3.0.0.min.js(v=${_v})}"></script>
		<script type="text/javascript" data-th-href="${_contextPath} + @{/comm/plugins/bootstrap/bootstrap.min.js(v=${_v})}"></script>
		<script type="text/javascript" data-th-src="${_contextPath} + @{/custom/package/ppr/js/exam/mark/markImage.js(v=${_v})}"></script>
        <script type="text/javascript" data-th-src="${_contextPath} + @{/custom/package/ppr/js/exam/mark/leftMarkArea.js(v=${_v})}"></script>
		<script type="text/javascript" data-th-src="${_contextPath} + @{/custom/package/ppr/js/CommUtils.js(v=${_v})}"></script>
		<script type="text/javascript" th:src="${_contextPath} + @{/comm/js/BaseUtils.js(v=${_v})}"></script>
		<script th:inline="javascript">
            /*<![CDATA[*/
			LeftMarkArea.editCanvasUrl = [[${_contextPath} + @{'/ppr/exam/mark/canvas/file/update'}]];
            /*]]>*/
		</script>
	</head>
	<body>
		<div class="modal-content">
			<div class="modal-body">
				<!-- 左侧区域 -->
				<div class="left">
					<div class="canvas_root_area">
						<div class="canvas_container">
						</div>
						<div class="user_answer_canvas clearfix">
							<ul class="imgs">
							</ul>
						</div>
						<ul class="colors">
							<li><a href="javascript:;" class="color1" data-color="black"></a></li>
							<li><a href="javascript:;" class="color2 select" data-color="red"></a></li>
							<li><a href="javascript:;" class="color3" data-color="yellow"></a></li>
							<li><a href="javascript:;" class="color4" data-color="#bcd7ed"></a></li>
							<li><a href="javascript:;" class="color5" data-color="blue"></a></li>
							<li><a href="javascript:;" class="color6" data-color="white"></a></li>
						</ul>
						<ul class="weights">
							<li class="select" data-weight="11">2x</li>
							<li data-weight="25">5x</li>
							<li data-weight="51">10x</li>
							<li data-weight="101">20x</li>
							<li data-weight="251">50x</li>
						</ul>
						<div class="tools">
							<ul class="l">
								<li><a class="pencil" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon1.png}" /></a></li>
								<li><a class="input" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon2.png}" /></a></li>
								<li><a class="rectangle" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon3.png}" /></a></li>
								<li><a class="color" href="javascript:;"><em></em></a></li>
								<li><a class="eraser" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon5.png}" /></a></li>
								<li><a class="clear" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon6.png}" /></a></li>
							</ul>
							<ul class="r">
								<li><a class="drag" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon12.png}" /></a></li>
								<li><a class="zoomIn" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon7.png}" /></a></li>
								<li><a class="zoomOut" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon8.png}" /></a></li>
								<li><a class="rotate90" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon9.png}" /></a></li>
								<li><a class="rotate180" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon10.png}" /></a></li>
								<li><a class="rotate270" href="javascript:;"><img data-th-src="${_contextPath} + @{/custom/package/ppr/img/mark/icon11.png}" /></a></li>
							</ul>
						</div>
					</div>
					<!-- 题目信息 -->
					<div class="quetstion">
						<div class="tip" data-th-text="#{UI_70_01_03_035}">原题</div>
						<a href="javascript:;" class="toggle"><span class="open"></span><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
						<div class="title">

						</div>
						<div class="title_bar"><span class="red" data-th-text="|#{UI_70_01_03_021}：|">题目分数：</span><div class="description question_score"></div></div>
						<div class="title_bar ques_answer_area"><span class="red" data-th-text="|#{UI_70_01_03_022}：|">标准答案：</span><div class="description question_answer"></div></div>
					</div>
				</div>
				<!-- 右侧栏目 -->
				<div class="right">
					<div class="notMarkListRate">
						<!-- 关闭/保存 图片批阅-->
						<div class="row saveClose">
							<div class="col-lg-6" style="margin-bottom: 10px;">
								<button class="closed" data-dismiss="modal" aria-hidden="true" data-th-text="|#{UI_70_00_013}|">关闭1</button>
							</div>
							<div class="col-lg-6">
								<button id="saveAnswers" data-th-text="|#{UI_70_01_03_038}|">保存</button>
							</div>
						</div>
						<!-- 答案切换 -->
						<div class="row answerSwitch">
							<div class="col-lg-4">
								<button switch-operation='last'><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
							</div>
							<div class="col-lg-4 name" id="answerByName">赵星星</div>
							<div class="col-lg-4">
								<button switch-operation='next'><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
							</div>
						</div>
						<div class="bgbutton">
							<!-- 打分板 +/- 分-->
							<div class="row new">
								<div class="nums">
									<div class="minus">
										<button><i class="fa fa-minus" aria-hidden="true"></i></button>
									</div>
									<div class="score"><input id="answerByScore" class="form-control" type="text" style="text-align: center"/></div>
									<div class="plus">
										<button><i class="fa fa-plus" aria-hidden="true"></i></button>
									</div>
								</div>
							</div>
							<!-- 打分板 快捷分数 -->
							<div class="scoreBg-1">
								<table class="scores-1" style="margin-bottom: 15px; width: 100%; text-align: center;">

								</table>
							</div>
						</div>
					</div>

					<!-- 批阅进度 -->
					<div class="markListRate">
						<div class="markListTitle">
							<h3>批阅进度 23/23</h3>
						</div>
						<div class="markListTableTitle">
							<table class="table" style="margin-bottom: 0">
								<thead>
								<tr>
									<td width="35%" class="markListRateName" data-th-text="|#{UI_70_01_03_023}|">姓名1</td>
									<td width="30%" class="markListRateScore" data-th-text="|#{UI_70_01_03_040}|"><i class="fa fa-sort clearR" aria-hidden="true"></i>得分1</td>
									<td width="35%" class="markListRateStatus" data-th-text="|#{UI_70_01_03_013}|"><i class="fa fa-sort clearR" aria-hidden="true"></i>批阅状态1</td>
								</tr>
								</thead>
							</table>
						</div>
						<div class="markListRateTableList" style="overflow: auto;">
							<table class="markListRateTable table">
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</body>
</html>
