<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ETS-School</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" data-th-href="${_contextPath} + @{/comm/plugins/bootstrap/bootstrap.min.css(v=${_v})}"/>
    <link rel="stylesheet" data-th-href="${_contextPath} + @{/comm/plugins/Font-Awesome-4.7.0/css/font-awesome.css(v=${_v})}"/>
    <link rel="stylesheet" data-th-href="${_contextPath} + @{/custom/package/ppr/css/exam/mark/global.css(v=${_v})}"/>
    <link rel="stylesheet" data-th-href="${_contextPath} + @{/custom/package/ppr/css/exam/mark/mark.css(v=${_v})}"/>
    <style type="text/css" data-th-inline="text">
        input.score{
            text-align: right;
            padding-right: 5px;
        }
        .paper:last-of-type{
            border-bottom: 0px;
        }
        .names{
            width: 167px;
        }
        .container .content .l .left .table tbody td .names span{
            float: left;
        }
        .question_content img{
            max-width: 798px;
        }
        .temporaryBtn {
            margin-right: 90px;
        }
        .groupsName{
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/plugins/jQuery/jquery-3.0.0.min.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/plugins/bootstrap/bootstrap.min.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/plugins/layer/layer.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/custom/package/ppr/js/CommUtils.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/custom/package/ppr/js/exam/mark/mark.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} +@{/custom/package/ppr/js/exam/answer/questionDragDrop.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/js/BaseUtils.js(v=${_v})}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        window.i18n = {
            'kind_name_template' : [[#{UI_70_01_03_034}]],
            'un_mark' : [[#{UI_70_01_03_017}]],
            'marked' : [[#{UI_70_01_03_016}]],
            'common_error_msg' : [[#{MSG_70_00_002}]],
            'tip_temporary_save' : [[#{MSG_70_01_03_003}]],
            'tip_complete_mark' : [[#{MSG_70_01_03_004}]],
            'tip_save_err' : [[#{MSG_70_01_03_005}]],
            'hava_some_student_not_be_mark' : [[#{MSG_70_01_03_016}]],
            'all_mark_error' : [[#{UI_70_01_03_036}]],
            'ignore_and_continue' : [[#{UI_70_01_03_037}]],
            'mark_loading' : [[#{UI_70_01_03_039}]],
            'tipBox_title' : [[#{MSG_70_00_008}]],
            'question_unfold' : [[#{UI_70_01_03_041}]],
            'question_put_away' : [[#{UI_70_01_03_042}]],
            'save_success' : [[#{MSG_70_01_03_017}]],
            'question_right': [[#{UI_70_01_03_043}]], // 对
            'question_wrong': [[#{UI_70_01_03_044}]], // 错
            'preview': [[#{UI_70_01_03_045}]], // 预览
            'tip_all_stu_mark_in_ques': [[#{MSG_70_01_03_020}]],
            'pre_to_first': [[#{MSG_70_01_03_018}]],
            'back_to_last': [[#{MSG_70_01_03_019}]],
            'confirm': [[#{UI_70_00_008}]],
            'selectOneClass':[[#{MSG_70_01_03_023}]],
            'className':[[#{UI_05_04_033}]]
        };

        $(function () {
            if ([[${isCertify}]]){
                $(document).attr("title", "探寶森林");
            }
            resize();
            $("[data-toggle='tooltip']").tooltip();
            $(".toggle").click(function(){
                if ($(this).siblings(".title").hasClass("h100")) {
                    $(this).find("i").text(i18n['question_unfold']);
                } else {
                    $(this).find("i").text(i18n['question_put_away']);
                }
                $(this).siblings(".title").toggleClass("h100");
                $(this).siblings(".title_bar").find(".question_answer").toggleClass("ha");
                $(this).children("span").toggleClass("closed");
                $(this).children("i").toggleClass("fa-chevron-down");

            });
            $('.good_d').click(function() {
                $(this).toggleClass('good_p')
            });

            layer.config({
                title : [[#{MSG_70_00_008}]]
            });

            MarkV2Main.exam = [[${exam}]];
            MarkV2Main.test = [[${test}]];
            MarkV2Main.testId = [[${testId}]];
            MarkV2Main.groupId = [[${groupId}]];
            MarkV2Main.activityId = [[${activityId}]];
            MarkV2Main.fileId = [[${fileId}]];
            MarkV2Main.userId = [[${userId}]];
            MarkV2Main.markingCacheInfo = [[${markingCacheInfo}]];
            MarkV2Main.actionType = [[${actionType}]];
            MarkV2Main.completeMarkUrl = [[${_contextPath} + @{'/ppr/exam/mark/save'}]];
            MarkV2Main.pictureUrl = [[${pictureUrl}]];
            MarkV2Main.previewFileUrl = [[${previewFileUrl}]];
            MarkV2Main.markStatusUpdatelUrl = [[|${_contextPath}@{'/mark/markStatus/update'}|]];
            MarkV2Main.markStatusCleanlUrl = [[|${_contextPath}@{'/mark/markStatus/clean'}|]];
            MarkV2Main.videoImgUrl = [[${_contextPath} + @{'/custom/ppr/assessment/img/markV2/video-play.png'}]];
            MarkV2Main.doMarkUrl = [[${_contextPath} + @{'/ppr/exam/mark/save'}]];
            MarkV2Main.init();
        });

        function resize(){
            let height = $(window).height()- 15 - $(".container .top").outerHeight() -15 - 10;  //批阅部分和菜单栏高度
            if (height < 768) {
                $('.container .content .l .left, .container .content .r .right').css('min-height', height);
                $('.container .content .r .right').css('min-height', height-3);
                let markDiv = height - $('.container .content .l .left div:eq(0)').outerHeight() - $('.container .content .l .left div:eq(2)').outerHeight();
                $('.container .content .l .left div:eq(1)').css('height', markDiv);
                $('.page_nav').css('height', height - $('.container .content .r .right .row:eq(0)').outerHeight() - $('.container .content .r .right .row:eq(1)').outerHeight()-3);
            }
        }
        /*]]>*/
    </script>
</head>

<body>
    <div class="container" data-th-inline="text">
        <div class="top">
            <h3 data-th-text="${test.testName}">周练习</h3>
            <ul>
                <li>[[#{UI_70_01_03_010}]]: [[${exam.totalPoints}]][[#{UI_70_01_03_012}]]</li> <!--总分-->
                <li>[[#{UI_70_01_03_011}]]：[[${test.submitCount}]]/[[${test.totalCount}]]</li>   <!--交卷人数/总人数-->
            </ul>
            <div class="clear"></div>
            <button style="margin-right: 10px;" class="temporaryBtn" id="temporaryBtn" th:text="#{UI_70_01_03_007}">批阅暂存</button>
            <button style="display: none;" id="completeMarkBtn" data-th-text="#{UI_70_01_03_008}">批阅完成</button>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg-10 col-md-10 l">
                    <div class="left">
                        <div style="padding-right: 17px;">
                            <table class="table table-bordered" style="margin-bottom: -1px; border:0;">
                                <thead>
                                    <tr>
                                        <td width="110" class="mark_sort" data-type="asc"><i class="fa fa-sort" aria-hidden="true"></i>[[#{UI_70_01_03_013}]]</td> <!--批阅状态-->
                                        <td width="75" class="person_count_sort"><i class="fa fa-sort" aria-hidden="true"></i>[[#{UI_70_01_03_027}]]</td> <!--人数-->
                                        <td width="185" data-th-text="#{UI_70_01_03_032}">学生姓名</td>
                                        <td data-th-text="#{UI_70_01_03_033}">学生答案</td>
                                        <!--<td width="50">
                                            <span class="good_d" id="good" style="display: inline-block"></span>
                                       </td>-->
                                        <td width="80" data-th-text="#{UI_70_01_03_025}">分数</td>
                                        <td width="80" data-th-text="#{UI_70_01_03_026}">批改</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div style="height: 620px; overflow-y: scroll;">
                            <table class="table table-bordered">
                                <tbody class="table_mark_area">

                                </tbody>
                            </table>
                        </div>
                        <div class="quetstion">
                            <div class="tip" data-th-text="#{UI_70_01_03_035}">原题</div>
                            <a href="javascript:;" class="toggle"><span class="open"></span><i class="fa fa-chevron-up" aria-hidden="true" th:text="#{UI_70_01_03_041}"></i></a>
                            <div class="title">

                            </div>
                            <div class="title_bar"><span class="red" data-th-text="|#{UI_70_01_03_021}：|">题目分数：</span><div class="description question_score"></div></div>
                            <div class="title_bar"><span class="red" data-th-text="|#{UI_70_01_03_022}：|">标准答案：</span><div class="description question_answer"></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 r">
                    <div class="right" th:include="ppr/mark/navMenu">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" th:include="ppr/mark/markImage">
        </div><!-- /.modal -->
    </div>
</body>

</html>