<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=yes" name="format-detection" />
    <meta content="email=yes" name="format-detection" />
    <title>ETS-School</title>
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/comm/plugins/Font-Awesome-4.7.0/css/font-awesome.min.css(v=${_v})}"/>
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/comm/plugins/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/exam/answer/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/js/canvas/css/canvas_tool.css(v=${_v})}" />
    <!-- This style is for the web, please do not move the position to avoid style problems -->
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/exam/answer/question-web.css(v=${_v})}"/>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/plugins/jQuery/jquery-3.0.0.min.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/plugins/layer/layer.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/plugins/jplayer/jquery.jplayer.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/plugins/webUploader/webuploader.min.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/plugins/webUploader/UploadFileUtils.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/plugins/html2canvas/html2canvas.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/custom/package/ppr/js/canvas/CanvasUtils.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/fragments/fragments.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/custom/package/ppr/js/CommUtils.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/custom/package/ppr/js/ppr/answer/questionAnswer.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} +@{/custom/package/ppr/js/exam/answer/connectLineQuestion.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} +@{/custom/package/ppr/js/exam/answer/questionDragDrop.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} +@{/custom/package/ppr/js/exam/answer/operationQuestion.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-src="${_contextPath} + @{/comm/js/BaseUtils.js(v=${_v})}"></script>
    <script type="text/javascript" data-th-inline="javascript">
        window.i18n = {
            "confirm" : [[#{UI_70_00_008}]],
            "cancel" : [[#{UI_70_00_009}]],
            "confirm_return_without_submit" : [[#{MSG_70_01_01_001}]],
            "confirm_submit" : [[#{MSG_70_01_01_002}]],
            "submit_success" : [[#{MSG_70_01_01_004}]],
            "submit_failed" : [[#{MSG_70_01_01_003}]],
            "cancle" : [[#{UI_70_00_013}]],
            'alert_title' : [[#{MSG_70_00_008}]],
            'submit_last_minute_tip': [[#{MSG_70_01_01_005}]],
            'auto_submit_last_second_tip': [[#{MSG_70_01_01_006}]],
            'delay_submit': [[#{UI_70_01_01_010}]],
            'immediately_hand_paper' : [[#{UI_70_01_01_011}]],
            'delete' : [[#{UI_70_00_007}]],
            'uploaded' : [[#{UI_70_01_01_014}]],
            'put_answer' : [[#{UI_70_01_01_009}]]
        };
        var jPlayerSWFPath = [[${_contextPath} + @{'/comm/plugins/jplayer'}]];
        CanvasUtils.global({
            'uploadUrl' : [[${_contextPath} + @{'/file/upload'}]],
            'plugins': ['background']
        });
        $(document).ready(function() {
            $.extend(AnswerQuestion, [[${condition}]]);
            AnswerQuestion.getExamUrl = [[${_contextPath} + @{'/ppr/exam/get'}]];
            AnswerQuestion.saveUrl = [[${_contextPath} + @{'/ppr/exam/submit'}]];
            AnswerQuestion.waitUrl = [[${_contextPath} + @{'/ppr/exam/wait'}]];
            AnswerQuestion.getTimeUrl = [[${_contextPath} + @{'/ppr/exam/time'}]];
            AnswerQuestion.tactivityId = [[${tactivityId}]];
            AnswerQuestion.testInfo = JSON.parse([[${testInfo}]]);
            AnswerQuestion.paperInfo = [[${paperInfo}]];
            AnswerQuestion.startTestTime = [[${startTestTime}]];
            AnswerQuestion.condition = [[${condition}]];
            AnswerQuestion.uploader_swf_url = [[${_contextPath} + @{'/js/webuploader/Uploader.swf'}]];
            AnswerQuestion.check_file_exist_url = [[${_contextPath} + @{/file/exists}]];
            AnswerQuestion.fileUploadUrl = [[${uploadFileUrl}]];
            AnswerQuestion.fileTokenUrl = [[${_contextPath} + @{'/file/request'}]];
            AnswerQuestion.collectLineQuestionType = "40";
            AnswerQuestion.init();
        });

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="img_list">
                <div class="row header">
                    <h4 class="testName" style="margin-left: 50px"></h4>
                    <span class="timer_area"></span>
                </div>
                <div class="row imgList">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="answer_area">
                <div class="row save_button">
                    <a class="testSureBtn" href="javascript:;" onclick="AnswerQuestion.savePaper();" th:text="#{UI_70_01_01_005}"></a>
                </div>
                <div class="row mainContent">
                    <div class="test_box">
                        <div class="info_t question_area" id="question_area">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display:none">
    <div id="collectLineQuestionTemplate">
        <div class="demo pt10 collectline answer" data-init="0" data-key="{questionId}">
            <div class="show cb">
                <div class="tools">
                    <div class="goBackBtn" th:text="上一步">上一步</div>
                    <div class="resetCanvasBtn" th:text="重置">重置</div>
                </div>
                <div class="showleft">

                </div>
                <div class="showright">

                </div>
                <canvas class="canvas"></canvas>
                <canvas class="backcanvas"></canvas>
            </div>
        </div>
    </div>
    <div id="operationAnswerTemplate">
        <div class="operation answer" data-key="{questionId}" id="upload_file_{questionId}" th:text="#{UI_70_01_01_015}">upload file</div>
        <div class="answer_list">
        </div>
    </div>

    <div id="audioTemplate">
        <div class='listen_affix' data-key='{0}'>
            <span id="jp_container_1" class="audio_area">
            <span id="audio"></span>
            <div class="jp-gui jp-interface">
                <div class="jp-controls">
                    <div class="jp-play fa fa-play-circle-o"></div>
                    <div class="jp-pause fa fa-stop-circle-o"></div>
                </div>
                <div class="jp-progress">
                    <div class="jp-seek-bar" style="width: 100%;">
                        <div class="jp-play-bar" style="width: 0%;"></div>
                    </div>
                    <div>
                        <span class="jp-current-time" role="timer" aria-label="time">00:00</span>
                        <span class="jp-duration" role="timer" aria-label="duration">00:00</span>
                    </div>
                </div>
            </div>
            </span>
        </div>
    </div>
</div>
</body>
</html>
