<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head>
		<meta charset="UTF-8" />
		<title>试卷信息</title>


		<link rel="stylesheet" type="text/css" th:href="@{/custom/package/etm/css/etm/style.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/custom/package/ppr/css/paper/baseStyle.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/custom/package/ppr/css/paper/style20190606.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/comm/plugins/jsTree/themes/default/font-awesome/css/font-awesome.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/comm/plugins/jsTree/themes/default/style.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/comm/plugins/jsTree/themes/default/components.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/comm/plugins/jsTree/themes/default/plugins.min.css}" />
		<link rel="stylesheet" type="text/css"  th:href="@{/comm/plugins/photoClip/css/photoClip.min.css}"/>
		<link rel="stylesheet" type="text/css"  th:href="@{/comm/plugins/PhotoSwipe/photoswipe.min.css}"/>
		<style th:inline="text">
			.form-box201906 .li_ .lt_{
				width: 50px;
			}
            .editPaperInfo {
                padding: 5px 20px;
            }
            .editPaperInfo .li_ {
                margin-top: 15px;
            }
            .form-box201906 .li_ .rt_ .select_{
                margin-left: 8px;
            }
            .form-box201906 .li_ .lt_ {
                width: 56px;
            }
			.knowledge_tree{
				width: auto;
				height: 250px;
				line-height: 250px;
			}
			.upload{
				border: 3px solid lightgray;
				width: 250px;
				height: 250px;
				line-height: 230px;
				text-align: center;
				margin-left:8px;
				float: left;
				background-color: #b0c1d2;
			}
			.img_upload{
				font-size: 1000%;
				color: greenyellow;
			}
			.img-box-gallery{
				border: 3px solid lightgray;
				width: 250px;
				height: 250px;
				margin-left: 8px;
				float: left;
				line-height: 250px;
				text-align: center;
				background-color: #b0c1d2;
			}
			.removeSelf{
				width: 30px;
				height: 30px;
				float: right;
				line-height: 30px;
				text-align: center;
				background-color: whitesmoke;
			}
			.iconfont{
				font-size: 100%;
				font-style: normal;
			}
			#download{
				margin-top: 10%;
				max-height: 249px;
				max-width: 140px;
			}

		</style>
	</head>
	<body class="bgC_">
		<ul class="form-box201906 editPaperInfo">
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_00_001}'>学段</span><em>*</em></label><div class="rt_">
				<div class="select_"><select name="stageCode" id="stageCode">
					<option value="" th:text="#{UI_70_02_03_001}">请选择学段</option>
					<option value="">小学</option>
					<option value="">初中</option>
					<option value="">高中</option>
				</select></div>
			</div></li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_00_002}'>年级</span><em>*</em></label><div class="rt_">
				<div class="select_"><select name="gradeCode" id="gradeCode">
					<option value="" th:text='#{UI_70_02_03_002}'>请选择年级</option>
					<option value="">一年级</option>
					<option value="">二年级</option>
					<option value="">三年级</option>
				</select></div>
			</div></li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_00_003}'>学科</span><em>*</em></label><div class="rt_">
				<div class="select_"><select name="subjectCode" id="subjectCode">
					<option value="" th:text='#{UI_70_02_03_003}'>请选择学科</option>
					<option value="">语文</option>
					<option value="">数学</option>
					<option value="">英语</option>
				</select></div>
			</div></li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_02_02_001}'>版本</span><em>*</em></label><div class="rt_">
				<div class="select_">
					<select name="textBookVersionCode" id="textBookVersionCode">
						<option value="" th:text='#{UI_70_02_03_004}'>请选择教材版本</option>
					</select>
				</div>
			</div></li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_02_02_002}'>学期</span><em>*</em></label><div class="rt_">
				<div class="select_">
					<select name="termCode" id="termCode">
						<option value="" th:text='#{UI_70_02_03_005}'>请选择学期</option>
						<option value="" >上学期</option>
						<option value="" >下学期</option>
					</select>
				</div>
			</div></li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_02_02_003}'>书名</span><em>*</em></label><div class="rt_">
				<input type="text" style="margin-left: 8px" class="input_" id="name" name="name"  autocomplete="false" />
			</div>
			</li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_02_02_004}'>ISBN</span><em>*</em></label><div class="rt_">
				<input type="text" style="margin-left: 8px" class="input_" id="isbn" name="isbn" autocomplete="false" />
			</div></li>

			<li class="li_"><label class="lt_"><span th:text='#{UI_70_02_02_005}'>封面</span></label>
                <div class="knowledge_tree" >
						<div class="upload" id="upload">
							<span class="img_upload" id="cover">
								+
							</span>
						</div>
						<div class="img-box-gallery" id="coverImg" hidden="hidden">

						</div>
                </div>
			</li>
			<li class="li_ btn_box"><span class="btn_01" id="sure" th:text="#{UI_70_00_008}">确定</span><span class="btn_01 bg3" th:text="#{UI_70_00_009}">取消</span></li>
		</ul>

		<!--<script type="text/javascript" th:src="@{/comm/plugins/layui/layui.js}"></script>-->
		<script th:src="@{/comm/plugins/jQuery/jquery-3.0.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/comm/plugins/layer/layer.js}"></script>
		<script type="text/javascript" th:src="@{/comm/js/BaseUtils.js}"></script>
		<script type="text/javascript" th:src="@{/custom/package/ppr/js/CommUtils.js}"></script>
        <script th:inline="javascript" th:src="@{/comm/plugins/jsTree/jstree.min.js}"></script>
        <script th:inline="javascript" th:src="@{/custom/package/etm/js/photoClip.js}"></script>
		<script type="text/javascript" th:src="@{/comm/plugins/photoClip/js/PhotoClipAll.js}"></script>
		<script type="text/javascript" th:src="@{/comm/plugins/photoClip/js/photoClipPeizhi.js}"></script>
		<script type="text/javascript" th:src="@{/comm/plugins/PhotoSwipe/photoswipe.min.js}"></script>
		<script type="text/javascript" th:src="@{/comm/plugins/PhotoSwipe/photoswipe-ui-default.min.js}"></script>
		<script type="text/javascript" th:src="@{/comm/plugins/PhotoSwipe/photoswipeAdded.min.js}"></script>
		<script type="text/javascript" data-th-src="@{/comm/plugins/webUploader/webuploader.min.js}"></script>
		<script type="text/javascript" th:src="@{/comm/plugins/webUploader/UploadFileUtils.js}"></script>
		<script type="text/javascript" th:inline="javascript">
			/* <![CDATA[ */

			if (window.i18n == undefined) {
				window.i18n = {}
			}

			$(function () {
				$.extend(i18n, {})
			})
			var uploadUrl = [[${uploadUrl}]];
			var tokenUrl = [[${_contextPath} + @{'/file/request'}]];
			var checkUrl = [[${_contextPath} + @{'/file/exists'}]];
			var cname = "";
			photoClipPeizhi.size = [249,140]; //此项目要求16:9 //截取框宽高大小,高度最高140  此处应该根据实际需求设置宽高比例
			photoClipPeizhi.outputSize = [249,140]; /*输出图像大小。当值为数字时，表示输出宽度，此时高度根据截取框比例自适应。当值为数组时，数组中索引 [0] 和 [1] 所对应的值分别表示宽和高，若宽或高有一项值无效，则会根据另一项等比自适应。默认值为[0,0]，表示输出图像原始大小。*/
			photoClipPeizhi.language = [[${_locale}]];
			photoClipPeizhi.loadComplete = function (img) {
				showPhotoClipTips(pluginText[photoClipPeizhi.language].t_6);
				document.getElementById(photoClipPeizhi.view.substring(1,photoClipPeizhi.view.length)).style.backgroundImage='url('+img.src+')';
				photoClipDataURL = img.src;
			};
			photoClipFn(photoClipPeizhi,function(dataURL,dataName){
				//方案一上传以后在展示
				//上传成功以后并返回服务器上的图片的相关信息，\
				blobUpload(dataURL,dataName,true); //第二个参数表示是否上传
				cname = dataName;
			});


			var BaseInfoPage = {
				stageCode : "",
				gradeCode : "",
				subjectCode : "",
				textBookVersionCode : "",

				init : function() {
					this.initStageSelector();
					this.initEvent();
					this.resetBookName();
					this.resetBookIsbn();
					this.initPhoto();
				},
				initEvent : function() {
					var _this = this;
					$("#sure").on("click", function(){
						if (_this.validForm()) {
							var param = _this.getParam();
							window.parent.postMessage({'type' : 'editBaseInfo', data : param}, "*");
							var index=parent.layer.getFrameIndex(window.name);
							parent.layer.close(index);
						}
					});
					$(".btn_01.bg3").bind('click',function(){
						var index=parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					})
					$("#cover").click(function () {
						var length = $(".imgbox").length;
						if (!length == 0){

							layer.confirm([[#{MSG_70_02_04_008}]], {
								title:[[#{UI_70_02_03_006}]],
								btn: [[#{UI_70_02_03_007}]] //按钮
							});
						}else {
							if ($("#photoClip-box").is(':hidden')) {
								$("#photoClip-box").slideDown();
								//toggleBody(0) //isPin 为1禁止滚动    0 解除禁止滚动
							}
						}

					});
				},
				initStageSelector : function(){
					var _this = this;
					$('#stageCode option:gt(0)').remove();
					$.each(this.stageGradeSubjects.stages, function(index, obj){
						$('#stageCode').append('<option value="'+obj.stageCode+'">'+obj.stageName+'</option>');
					});
					if (!CommUtils.isEmpty(_this.stageCode)&&(_this.stageCode != 'undefined')) {
						$('#stageCode').val(_this.stageCode);
					}
					$('#stageCode').change(function(){
						_this.stageCode = $(this).val();
						_this.gradeCode = '';
						_this.subjectCode = '';
						$("#gradeCode").val("");
						$("#subejctCode").val("");
						_this.textBookVersionCode = "";
						_this.initGradeSelector();
						_this.resetBookName();
					});
					_this.initGradeSelector();
				},
				initGradeSelector : function(){
					var _this = this;
					$('#gradeCode option:gt(0)').remove();
					$.each(this.stageGradeSubjects.grades, function(index, obj){
						if (_this.stageCode == obj.stageCode)
							$('#gradeCode').append('<option value="'+obj.gradeCode+'">'+obj.gradeName+'</option>');
					});
					if (!CommUtils.isEmpty(_this.gradeCode)&&(_this.gradeCode != 'undefined')) {
						$('#gradeCode').val(_this.gradeCode);
					}
					$('#gradeCode').unbind('change').change(function(){
						_this.gradeCode = $(this).val();
						_this.subjectCode == '';
						_this.textBookVersionCode = "";
						_this.initSubjectSelector();
						_this.resetBookName();
					});
					_this.initSubjectSelector();
				},
				initSubjectSelector : function(){
					var _this = this;
					$('#subjectCode option:gt(0)').remove();
					$.each(this.stageGradeSubjects.subjects, function(index, obj){
						if (_this.gradeCode == obj.gradeCode)
							$('#subjectCode').append('<option value="'+obj.subjectCode+'">'+obj.subjectName+'</option>');
					});
					if (!CommUtils.isEmpty(_this.subjectCode)&&(_this.subjectCode != 'undefined')) {
						$('#subjectCode').val(_this.subjectCode);
					}
                    _this.initMaterialVersion();
					_this.initTerm();
					$('#subjectCode').unbind('change').change(function(){
						_this.subjectCode = $(this).val();
						_this.textBookVersionCode = "";
						_this.initMaterialVersion();
						_this.initTerm();
						_this.resetBookName();
					});
				},
                initMaterialVersion : function() {
				    var _this = this;
                    $('#textBookVersionCode option:gt(0)').remove();
				    if(CommUtils.isEmpty(_this.subjectCode)||_this.subjectCode == 'undefined') {
				        return;
                    }
				    $.get(_this.getMaterialVersion,{gradeCode:_this.gradeCode,subjectCode:_this.subjectCode},function (data) {
                        if(CommUtils.isNotEmpty(data.data)) {
                            $.each(data.data,function (index, obj) {
                                $('#textBookVersionCode').append('<option value="'+obj.code+'">'+obj.name+'</option>');
                            })
                        }
						if (!CommUtils.isEmpty(_this.textBookVersionCode)&&_this.textBookVersionCode != 'undefined') {
							$('#textBookVersionCode').val(_this.textBookVersionCode);
						}
                    });
                    $('#textBookVersionCode').unbind('change').change(function(){
                        _this.textBookVersionCode = $(this).val();
                    });
                },
				initTerm:function () {
					var _this = this;
					$('#termCode option:gt(0)').remove();
					if(CommUtils.isEmpty(_this.subjectCode)||_this.subjectCode == 'undefined') {
						return;
					}
					$.get(_this.getTerm,function (data) {
						if(CommUtils.isNotEmpty(data.data)) {
							$.each(data.data,function (index, obj) {
								$('#termCode').append('<option value="'+obj.code+'">'+obj.name+'</option>');
							})
						}
						if (!CommUtils.isEmpty(_this.termCode)&&_this.termCode != 'undefined') {
							$('#termCode').val(_this.termCode);
						}
					});
					$('#termCode').unbind('change').change(function(){
						_this.termCode = $(this).val();
					});
				},
				initPhoto:function () {
					var _this = this;
					var dataUrl = "";
					if (_this.coverUrl != 'undefined'){
						dataUrl = _this.coverUrl;
					}
					var  dataName = _this.coverImgName;
					if (dataUrl){
						var isload = false;
						blobUpload(dataUrl,dataName,isload);
					}

				},
				resetBookName : function(){
					var _this = this;
					if (_this.name != 'undefined'){
						var name = _this.name;
						$("input[name='name']").val(name);
					}
				},
				resetBookIsbn : function(){
					var _this = this;
					if (_this.isbn != 'undefined')
					var isbn = _this.isbn;
					$("input[name='isbn']").val(isbn);
				},
				getParam : function() {
					return {
						"stageCode" : $("#stageCode").val(),
						"stageName" : CommUtils.isEmpty($("#stageCode").val()) ? '' : $("#stageCode option:selected").text(),
						"gradeCode" : $("#gradeCode").val(),
						"gradeName" : CommUtils.isEmpty($("#gradeCode").val()) ? '' : $("#gradeCode option:selected").text(),
						"subjectCode" : $("#subjectCode").val(),
						"subjectName" : CommUtils.isEmpty($("#subjectCode").val()) ? '' : $("#subjectCode option:selected").text(),
						"name" : $("#name").val(),
						"isbn": $("#isbn").val(),
						"textBookVersionCode" : $("#textBookVersionCode").val(),
						"textBookVersionName" : CommUtils.isEmpty($("#textBookVersionCode").val()) ? '' : $("#textBookVersionCode option:selected").text(),
						"termCode":$("#termCode").val(),
						"termName":CommUtils.isEmpty($("#termCode").val()) ? '' : $("#termCode option:selected").text(),
						"coverId": $(".imgbox").attr("data-fileid"),
						"coverUrl" : $("img").attr("src"),
						"coverImgName" : CommUtils.isEmpty(cname)? this.coverImgName : cname
					};
				},
				validForm : function() {
					var validSuccess = true;
					if (CommUtils.isEmpty($("#stageCode").val())) {
						this.showTip([[#{MSG_70_02_04_001}]], "#stageCode");
						validSuccess = false;
					}
					if (CommUtils.isEmpty($("#gradeCode").val())) {
						this.showTip([[#{MSG_70_02_04_002}]], "#gradeCode");
						validSuccess = false;
					}
					if (CommUtils.isEmpty($("#subjectCode").val())) {
						this.showTip([[#{MSG_70_02_04_003}]], "#subjectCode");
						validSuccess = false;
					}
					if (CommUtils.isEmpty($("#textBookVersionCode").val())) {
						this.showTip([[#{MSG_70_02_04_004}]], "#textBookVersionCode");
						validSuccess = false;
					}
					if (CommUtils.isEmpty($("#termCode").val())) {
						this.showTip([[#{MSG_70_02_04_005}]], "#termCode");
						validSuccess = false;
					}
					if (CommUtils.isEmpty($("#name").val())) {
						this.showTip([[#{MSG_70_02_04_006}]], "#name");
						validSuccess = false;
					}
					if (CommUtils.isEmpty($("#isbn").val())) {
						this.showTip([[#{MSG_70_02_04_007}]], "#isbn");
						validSuccess = false;
					}

					return validSuccess;
				},
				showTip : function(content, selector) {
					layer.tips(content, selector, {
						tips: [3, '#1b92e2'],
						time: 1000,
						tipsMore: true
					});
				},
			}

			$(function(){

			BaseInfoPage.stageCode = [[${book.stageCode}]];
            BaseInfoPage.gradeCode = [[${book.gradeCode}]];
            BaseInfoPage.subjectCode = [[${book.subjectCode}]];
            BaseInfoPage.textBookVersionCode = [[${book.textBookVersionCode}]];
            BaseInfoPage.termCode = [[${book.termCode}]];
            BaseInfoPage.termName = [[${book.termName}]];
            BaseInfoPage.name = [[${book.textBookName}]];
            BaseInfoPage.isbn = [[${book.isbn}]];
            BaseInfoPage.coverId = [[${book.coverId}]];
            BaseInfoPage.coverUrl = [[${book.coverUrl}]];
            BaseInfoPage.coverImgName = [[${book.coverImgName}]]
            BaseInfoPage.stageGradeSubjects = [[${stageGradeSubjects}]];
            BaseInfoPage.getTerm = [[@{/manager/package/etm/condition/term/query}]]
            BaseInfoPage.getMaterialVersion = [[@{/manager/package/etm/condition/materialversion/query}]];
            BaseInfoPage.init();
			});
			/* ]]> */
		</script>
	</body>
</html>
