/*头部部分*/
.ContainerWarp .header {
  width: 100%;
  overflow-x: hidden;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/*底部部分*/
.ContainerWarp .ConMain .MainAuto .footer {
  font-size: 0.12px;
  padding: 30px 0 16px;
  color: #666; height: 100px;
}
.ContainerWarp .footer, .ContainerMain .footer, .ContainerWarp .ConMain .MainAuto .footer {
	color: #666; height: 100px; padding: 30px 0 16px;
}
/*框架公共部分内容样式*/
.ContainerWarp .header {
  background: white;
  overflow: hidden;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}
.ContainerWarp .header .header_lt {
  width: 50%;
  height: 60px;
  float: left;
}
.ContainerWarp .header .header_lt img {
  height: 38px;
  margin-top: 11px;
}
.ContainerWarp .header .header_rt {
  width: 50%;
  height: 60px;
  float: right;
  overflow: hidden;
}
.ContainerWarp .header .header_rt .system_out {
  float: right;
  width: 6.6%;
  height: 60px;
  text-align: right;
}
.ContainerWarp .header .header_rt .system_out img,
.ContainerWarp .header .header_rt .system_out .syetemCloseImg {
  width: 24px;
  height: 24px;
  margin-top: 18px;
  display: inline-block;
}
.ContainerWarp .header .header_rt .system_out > .syetemCloseImg {
  background: url('../img/icon_sysout.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
.ContainerWarp .header .header_rt .system_out > .syetemCloseImg:hover {
  background: url('../img/icon_sysout_hover.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
.ContainerWarp .header .header_rt .system_out span:hover {
  background: url(../img/icon_2_hover.png);
  background-size: 100% 100%;
}
.ContainerWarp .header .header_rt .user_box {
  float: right;
  width: 21.6%;
  height: 60px;
  position: relative;
  color: #696969;
}
.ContainerWarp .header .header_rt .user_box .user_box_tp {
  width: 100%;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}
.ContainerWarp .header .header_rt .user_box .user_box_tp img,
.ContainerWarp .header .header_rt .user_box .user_box_tp span {
  display: inline-block;
  float: right;
}
.ContainerWarp .header .header_rt .user_box .user_box_tp .user_photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-top: 15px;
}
.ContainerWarp .header .header_rt .user_box .user_box_tp .user_name {
  margin: 0 8px;
  font-size: 14px;
}
.ContainerWarp .header .header_rt .user_box .user_box_tp .nav_status {
  width: 16px;
  height: 16px;
  margin-top: 22px;
}
.ContainerWarp .header .header_rt .user_box:hover .user_name {
  color: #4c9dd6;
}
.ContainerWarp .header .header_rt .user_box:hover .nav_status {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}
.ContainerWarp .header .header_rt .user_box_bt {
  display: none;
  font-size: 14px;
  position: fixed;
  top: 59px;
  right: 3.5%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 101;
  background: white;
}
.ContainerWarp .header .header_rt .user_box_bt .shezhiNav {
  padding: 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .header .header_rt .user_box_bt .shezhiNav .user_box_triangle {
  position: absolute;
  left: 70%;
  bottom: 100%;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.ContainerWarp .header .header_rt .user_box_bt .shezhiNav li {
  overflow: hidden;
  margin-bottom: 2px;
  width: 120px;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .header .header_rt .user_box_bt .shezhiNav li.activeli {
  background: #e0e0e0;
}
.ContainerWarp .header .header_rt .user_box_bt .shezhiNav li.activeli a {
  color: white;
}
.ContainerWarp .header .header_rt .user_box_bt .shezhiNav li img {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-top: 8px;
}
.ContainerWarp .header .header_rt .user_box_bt .shezhiNav li a {
  text-decoration: none;
  float: left;
  font-size: 14px;
  color: #696969;
}
.ContainerWarp .header .header_rt .user_box_bt .shezhiNav li:hover {
  background: #e0e0e0;
}
.ContainerWarp .header .header_rt .user_box_bt .shezhiNav li:hover a {
  color: white;
}
