html, body {max-width: 100%;}
.Container {max-width: 70%; margin: 30px 0px; margin-left: 24%;}
.Container .mainContent {border: 1px solid #e1e1e1;}
.Container .header, .Container .testCardLists, .Container .footer {z-index: 1;}
.Container .header .header_cont {padding: 0px;}
.Container .header .header_cont .header_title {width: auto;}
.Container .header .header_cont .backBtn, .Container .header .header_cont .testCard {display: none;}

.Container .header .header_cont .timer_area {
    height: 50px;
    float: right;
    overflow: hidden;
}
.Container .header .header_cont .timer_area b {margin-left: 10px; font-size: 36px;}
.Container .header .header_cont .audio_area {float: right; margin-right: 10px; width: 160px; padding: 2px 5px;}
.Container .header .header_cont .audio_area .jp-gui {height: 28px; padding: 4px; border: 1px solid #e1e1e1;}
.Container .header .header_cont .audio_area .jp-gui .jp-controls {float: left; width: 32px;}
.Container .header .header_cont .audio_area .jp-gui .jp-controls * {font-size: 28px; cursor: pointer;}
.Container .header .header_cont .audio_area .jp-gui .jp-controls .jp-stop {display: none;}
/* jp-state-playing 播放中 */
.Container .header .header_cont .audio_area.jp-state-playing .jp-gui .jp-controls .jp-play {display: none;}
.Container .header .header_cont .audio_area.jp-state-playing .jp-gui .jp-controls .jp-stop {display: block;} 
.Container .header .header_cont .audio_area .jp-gui .jp-progress {padding: 4px 0px 0px 32px;}
.Container .header .header_cont .audio_area .jp-gui .jp-progress .jp-seek-bar {height: 4px; border: 1px solid #e1e1e1; border-radius: 2px; cursor: pointer;}
.Container .header .header_cont .audio_area .jp-gui .jp-progress .jp-seek-bar .jp-play-bar {height: 4px; background-color: #ff9019}
.Container .header .header_cont .audio_area .jp-gui .jp-progress div span.jp-current-time {float: left;}
.Container .header .header_cont .audio_area .jp-gui .jp-progress div span.jp-duration {float: right;}


.Container .testCardLists {right: auto; left: 5%; top: 42px; bottom: 30px; display: block; max-width: 16%; border: 1px solid #e1e1e1; border-radius: 5px;}
.Container .testCardLists .testCardLists_title {background-color: #1b92e2; color: white;}
.Container .testCardLists .testCardLists_list {padding: 0px 10px; outline-width: 100%; width: auto;}
.Container .testCardLists .testCardLists_list > li {width: 100%; margin-bottom: 0px; padding-bottom: 6px; text-align: left; box-sizing: border-box;}
.Container .testCardLists .testCardLists_list > li[level="1"] {font-weight: bold; border-bottom: 1px solid #e1e1e1; padding-bottom: 4px; margin-bottom: 8px;}
.Container .testCardLists .testCardLists_list > li[level="1"]:not(:first-child) {margin-top: 15px;}
.Container .testCardLists .testCardLists_list > li[level="2"] { padding-left: 6px; padding-bottom: 4px;}
.Container .testCardLists .testCardLists_list > li[data-key]:not([level="1"]) + li[level="2"] {margin-top: 10px;}
.Container .testCardLists .testCardLists_list > li[data-key] {padding-left: 10px;}
.Container .testCardLists .testCardLists_list > li.active_li {background-color: #fff0dd;}
.Container .testCardLists .testCardLists_list > li:first-child {margin-top: 10px;}
.Container .testCardLists .testCardLists_list > li:last-child {margin-bottom: 10px;}
.Container .testCardLists .testCardLists_list > li > div {
    width: 60px; height: 30px; line-height: 30px; margin: 6px 0px 0px; display: inline-block;
    border: 1px solid #e1e1e1; border-radius: 5px; box-sizing: border-box;
    text-align: center; cursor: pointer;
}
.Container .testCardLists .testCardLists_list > li > div > b {font-weight: normal;}
.Container .testCardLists .testCardLists_list > li > div.active_li {border-color: #42a3f5; background-color: #42a3f5; color: white;}
@media screen and (max-width: 900px) {
    .Container .testCardLists .testCardLists_list > li {text-align: center;}
    .Container .testCardLists .testCardLists_list > li > div {width: 100%;}
}
@media screen and (min-width: 900px) {
    .Container .testCardLists .testCardLists_list > li > div {width: 49%; margin-right: 1%;}
}
@media screen and (min-width: 1300px) {
    .Container .testCardLists .testCardLists_list > li > div {width: 32%; margin-right: 1%;}
}
.Container .testCardLists .testCardLists_sure .testSureBtn {border-radius: 5px;}
.Container .mainContent .test_box .test_tips > span.screen_splitor {
    float: right; display: block; width: 40px; height: 30px; margin: 4px 0px; cursor: pointer;
}
.Container .mainContent .test_box .test_tips > span.screen_splitor > b {
    display: block; width: 32px; height: 30px;
    background: url("../../../img/doublepage.png") no-repeat;
}
.Container .mainContent .test_box .test_tips > span.screen_splitor.active_li > b { background: url("../../../img/singlepage.png") no-repeat;}
.Container .mainContent .test_box .test_cont.splite .swiper-container .swiper-wrapper .question_area {overflow: hidden; height: 100%;}
.Container .mainContent .test_box .test_cont.splite .swiper-container .swiper-wrapper .question_area .question_content {float: left; width: 49%; height: 100%; overflow-y: auto;}
.Container .mainContent .test_box .test_cont.splite .swiper-container .swiper-wrapper .question_area .splitor {float: left; width:2px; height: 100%; background-color: #e1e1e1; cursor: e-resize;}
.Container .mainContent .test_box .test_cont.splite .swiper-container .swiper-wrapper .question_area .splitor:hover {background-color: #42a3f5;}
.Container .mainContent .test_box .test_cont.splite .swiper-container .swiper-wrapper .question_area > div:last-child {float: right; width: 49%; height: 100%; overflow-y: auto;}
.Container .footer .footer_cont > a:nth-of-type(2) {display: none;}
.Container .footer .footer_cont > a:nth-of-type(3) {float: right;}
