html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
img {
  border: none;
}
p {
  margin-bottom: 0;
}
body,
a,
input,
select,
button {
  font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";
  font-size: 14px;
  outline: none;
  color: #666;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*去除获取焦点时半透明背景*/
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
table {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}
.text_no_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.box-shadow-round {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.self_flex_content { /*定义父元素*/
  display: box;/*（伸缩盒最老版本）*/
  display: -webkit-box;/* iOS 6-, Safari 3.1-6 */
  display: -webkit-flex;/* Chrome */
  display: -moz-box;/* Firefox 19 */
  display: -ms-flexbox;
  display: flex;/*flex容器*/
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
/*去掉input默认上下箭头*/
.input_jiantou_hide input::-webkit-outer-spin-button,
.input_jiantou_hide input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input_jiantou_hide input[type="number"] {
  -moz-appearance: textfield;
}
.input_jiantou_hide input {
  -webkit-appearance: none;
/*去除input默认样式*/ }
.input_jiantou_hide input[type="submit"],
.input_jiantou_hide input[type="reset"],
.input_jiantou_hide input[type="button"],
.input_jiantou_hide input {
  -webkit-appearance: none;
}
.input_jiantou_hide input::-ms-clear {
  display: none;
}
.select_jiantou_hide {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}
.select_jiantou_hide::-ms-expand {
  display: none;
}
.AnimationRotate360 {
  -webkit-animation: Rotating 1s linear infinite;
  -moz-animation: Rotating 1s linear infinite;
  -ms-animation: Rotating 1s linear infinite;
  animation: Rotating 1s linear infinite;
}
@keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-o-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.small_hand {
  cursor: pointer;
}
/*超出隐藏另外加宽*/
.hideellipsis,
.widthHide2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
/*伪类清除浮动*/
.clearfix:after {
  content: "";
  height: 0;/*高度为0*/
  line-height: 0;/*行高为0*/
  display: block;/*将文本转为块级元素*/
  visibility: hidden;/*将元素隐藏*/
  clear: both;/*清除浮动*/
}
.clearfix {
  zoom: 1;
/*为了兼容IE*/ }
/*通用样式*/
.ColorFS1 {
  font-size: 0.28rem;
  color: #111111;
}
.bg_white {
  background: white;
}
.coomW {
  width: 100%;
  max-width: 480px;
}
.ScollCssZero {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
  max-width: 480px;
  overflow: hidden;
  margin: 0 auto;
  font-family: "Microsoft Yahei";
  position: relative;
}
.Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.Container .header {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 15px;
}
.Container .header .header_cont {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Container .header .header_cont .backBtn,
.Container .header .header_cont .testCard {
  position: absolute;
  width: 35px;
  height: 50px;
  top: 0;
  display: inline-block;
}
.Container .header .header_cont .backBtn i,
.Container .header .header_cont .testCard i {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.Container .header .header_cont .backBtn {
  left: 0;
}
.Container .header .header_cont .backBtn > i {
  background: url('../../../img/icon_back.png') 0 0 no-repeat;
  background-size: 100% 100%;
  float: left;
  margin: 7px 0 0 -4px;
}
.Container .header .header_cont .header_title {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  font-size: 18px;
  color: #333;
}
.Container .header .header_cont .testCard {
  right: 0;
}
.Container .header .header_cont .testCard > i {
  background: url('../../../img/icon_testCard.png') 0 0 no-repeat;
  background-size: 100% 100%;
  float: right;
  margin: 7px -4px 0 0;
}
.Container .mainContent {
  background: white;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 0 60px 0;
  position: relative;
}
.Container .mainContent .test_box {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Container .mainContent .test_box .test_tips {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  border-bottom: 1px solid #e1e1e1;
}
.Container .mainContent .test_box .test_tips > span {
  font-size: 14px;
  color: #333;
}
.Container .mainContent .test_box .test_tips > span > b {
  font-weight: normal;
  margin: 0 4px;
}
.Container .mainContent .test_box .test_tips > span.test_number {
  float: left;
}
.Container .mainContent .test_box .test_tips > span.test_total {
  float: right;
}
.Container .mainContent .test_box .test_tips > span.test_total > b {
  color: #42a3f5;
}
.Container .mainContent .test_box .test_cont {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Container .mainContent .test_box .test_cont .swiper-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.Container .mainContent .test_box .test_cont .swiper-container .swiper-wrapper {
  width: 100%;
}
.Container .mainContent .test_box .test_cont .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Container .mainContent .test_box .test_cont .selectBox {
  width: 100%;
  overflow: hidden;
  margin-top: 6px;
}
.Container .mainContent .test_box .test_cont .selectBox > li {
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-left: 15px;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  float: left;
  border: 1px solid #42a3f5;
  color: #42a3f5;
  font-size: 15px;
  text-align: center;
}
.Container .mainContent .test_box .test_cont .selectBox > li:first-child {
  margin-left: 0;
}
.Container .mainContent .test_box .test_cont .selectBox > li.active_li {
  background: #42a3f5;
  color: white;
}
.Container .mainContent .test_box .test_cont .text_answer {
  width: 100%;
  overflow: hidden;
  line-height: 26px;
  margin-top: 6px;
}
.Container .mainContent .test_box .test_cont .text_answer > span {
  font-size: 14px;
  color: #555;
}
.Container .mainContent .test_box .test_cont .text_answer .text_answer_input {
  width: 150px;
  height: 26px;
  line-height: 26px;
  background: #ffffff;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: 10px;
}
.Container .mainContent .test_box .test_cont .textareabox {
  width: 100%;
  margin-top: 6px;
}
.Container .mainContent .test_box .test_cont .textareabox textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  resize: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.Container .footer {
  background: white;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  border-top: 1px solid #e1e1e1;
}
.Container .footer .footer_cont {
  width: 100%;
  height: 60px;
  zoom: 1;
}
.Container .footer .footer_cont > a {
  float: left;
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: #333;
  width: 30%;
  height: 40px;
  line-height: 40px;
  margin: 10px 0 0 5%;
}
.Container .footer .footer_cont > a.active_a {
  background: #42a3f5;
  color: white;
}
.Container .footer .footer_cont > a:first-child {
  margin-left: 0;
  border: 1px solid #42a3f5;
}
.Container .footer .footer_cont > a:nth-of-type(2) {
  background: #ff9019;
  color: white;
}
.Container .testCardLists {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  max-width: 480px;
  margin: 0 auto;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  background: white;
  z-index: 200;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Container .testCardLists .testCardLists_cont {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 36px 0 60px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Container .testCardLists .testCardLists_title {
  width: 100%;
  height: 36px;
  line-height: 36px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #333;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Container .testCardLists .testCardLists_list {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.Container .testCardLists .testCardLists_list > li {
  width: 20%;
  float: left;
  text-align: center;
  margin-bottom: 15px;
}
.Container .testCardLists .testCardLists_list > li > b {
  font-weight: normal;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: white;
  color: #333;
  text-align: center;
  font-size: 15px;
}
.Container .testCardLists .testCardLists_list > li.active_li > b {
  background: #42a3f5;
  color: white;
  border: 1px solid #42a3f5;
}
.Container .testCardLists .testCardLists_sure {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #e1e1e1;
  padding: 10px 15px 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Container .testCardLists .testCardLists_sure .testSureBtn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background: #42a3f5;
  color: white;
  font-size: 14px;
  text-align: center;
  letter-spacing: 4px;
}
/*# sourceMappingURL=testQuestion.css.map */
