<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>ETS-School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="${_contextPath} + @{/comm/plugins/Font-Awesome-4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="${_contextPath} + @{/comm/plugins/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/comm/plugins/ztree/css/zTreeStyle/zTreeStyle.css(v=${_v})}" />
    <!--<link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/comm/plugins/ztree/css/awesomeStyle/awesome.css(v=${_v})}" />-->
    <link rel="stylesheet" th:href="${_contextPath} + @{/custom/package/ppr/css/ppr/index.css}" />
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/jQuery/jquery-3.0.0.min.js}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/layer/layer.js}"></script>
    <script th:inline="javascript" th:src="${_contextPath} + @{/comm/plugins/ztree/js/jquery.ztree.all.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/webUploader/webuploader.min.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/webUploader/UploadFileUtils.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/js/BaseUtils.js}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/CommUtils.js}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/ppr/index.js}"></script>
    <script type="text/javascript" th:if="'preview' != ${mode}" th:src="${_contextPath} + @{/custom/package/ppr/js/ppr/edit.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var i18n = window.i18n = {
            "base-info-layer-title": [[#{UI_70_01_02_044}]],
            "answer-card-layer-title": [[#{UI_70_01_01_001}]],
            "paper": [[#{UI_70_01_02_054}]],
        };
        $(function() {
            UploadFileUtils.global({
                'uploadUrl': [[${uploadFileUrl}]],
                'tokenUrl': [[${_contextPath} + @{'/file/request'}]],
                'checkUrl': [[${_contextPath} + @{'/file/exists'}]]
            });
            $.extend(MainPage, {
                'baseInfoUrl': [[${_contextPath} + @{'/ppr/baseinfo/preedit'}]],
                'answerCardUrl': [[${_contextPath} + @{'/ppr/ppr/card/preedit'}]],
                'saveUrl': [[${_contextPath} + @{'/ppr/ppr/save'}]],
                'getKnowledgeTreeUrl': [[${_contextPath} + @{'/ppr/condition/knowledge/query'}]],
                'getAbilityUrl': [[${_contextPath} + @{'/ppr/condition/question/ability/query'}]],
                'listUrl': [[${contentManagerUrl} + @{'/myindex?typeCode=C15'}]],
                'userId': [[${pprInfo.userId}]],
                'teacherBaseInfoStr': [[${session['_TEACHER_SGS_BASE_INFO']}]],
                'difficultyArr': [[${difficulties}]]
            });
            MainPage.pprInfo = [[${pprInfo}]];
            MainPage.mode = [[${mode}]];
            MainPage.init();
        });
    </script>
</head>
<body>
<div class="ppr-container">
    <div class="ppr-header">
        <div class="ppr-header-info"></div>
        <div class="ppr-header-op" th:if="'preview' != ${mode}">
            <span class="btn btn-custom" id="save">保存</span>
        </div>
    </div>
    <div class="ppr-body" th:classappend="'preview' == ${mode} ? '_preview'">
        <ul class="ppr-body-left" th:if="'preview' != ${mode}">
            <li class="active">
                <a class="box-header" href="javascript:;">基础信息<!--<i class="fa fa-angle-right"></i>--></a>
                <div class="box-body">
                    <a id="baseInfo" class="btn btn-tool" href="javascript:;" th:text="#{UI_70_01_02_044}">exam info</a>
                    <a id="cardInfo" class="btn btn-tool" href="javascript:;">制作答题卡</a>
                    <a id="chooseExamPic" class="btn btn-tool" href="javascript:;">选择图片</a>
                </div>
            </li>
            <!--<li><a id="baseInfo" class="btn btn-tool" href="javascript:;">基础信息</a></li>-->
            <!--<li><a id="cardInfo" class="btn btn-tool" href="javascript:;">制作答题卡</a></li>-->
            <!--<li><a id="chooseExamPic" class="btn btn-tool" href="javascript:;">选择图片</a></li>-->
            <!--<li class="active">-->
                <!--<a class="box-header" href="javascript:;">试卷信息<i class="fa fa-angle-right"></i></a>-->
                <!--<div class="box-body">-->
                    <!--<a id="chooseExamPic" class="btn btn-tool" href="javascript:;">选择图片</a>-->
                    <!--<a class="btn btn-tool" href="javascript:;">选择试卷</a>-->
                <!--</div>-->
            <!--</li>-->
            <li class="active">
                <a class="box-header" href="javascript:;">题目导航<!--<i class="fa fa-angle-right"></i>--></a>
                <div class="box-body">
                    <div id="nav-tree" class="ztree"></div>
                </div>
            </li>
        </ul>
        <div class="ppr-body-right">
            <div class="tool-panel panel panel-default">
                <div class="tool-zoom">
                    <i class="zoom-in"></i>
                    <span>100%</span>
                    <i class="zoom-out"></i>
                    <i class="zoom-revert"></i>
                </div>
            </div>
            <div class="container-wrapper" width="1700" height="">
                <div class="exam-container">
                    <div class="ruler-container">
                        <div class="ruler-wrapper">
                            <div class="ruler-body">
                                <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span><span>12</span><span>13</span><span>14</span><span>15</span><span>16</span><span>17</span><span>18</span><span>19</span><span>20</span><span>21</span>
                            </div>
                            <div class="ruler-selected"></div>
                            <div class="ruler-limit" data-key="min"></div>
                            <div class="ruler-limit" data-key="max"></div>
                        </div>
                    </div>
                    <div class="exam-wrapper"></div>
                </div>
                <div class="card-container">

                </div>
                <div class="container-shader"></div>
            </div>
        </div>
    </div>
    <div class="ppr-footer">
        <!--        <footer>I"m Footer!!</footer>-->
    </div>
    <div class="ppr-shader"></div>

    <template class="hidden" id="card-item-template" >
        <div class="MaxContanier_l left_w">
            <div class="ContainerHeader">
                <div class="ballBlack"></div>
                <div class="square_black_group"></div>
                <div class="Title_Content marginWidth Sealline">
                    <div class="TitleContent1">
                        <div></div>
                        <div class="TestName"></div>
                        <div class="StdInfo">
                            <span>姓名：</span> <div class="underline"></div>
                            班級： <div class="underline"></div>
                            學號： <div class="underline"></div>
                        </div>
                    </div>
                    <div class="exam_title"> <div class="qr">试卷信息码</div> <div class="TitleContent2"> <div><!----></div> </div> </div>
                    <div class="student_title"><div class="qr">学生考试码</div> <div class="TitleContent3">Paste QRcode</div></div>
                </div>
                <div class="ballBlack2"></div>
            </div>
            <div class="marginWidth Attention">
                <div class="Attention_l">
                    <ul>
                        <li>1、答題前請將姓名、班級、學號填寫清楚。 保持答卷清潔、完整。</li>
                        <li>2、客觀題答題，必須使用2B鉛筆填塗，修改時用橡皮擦乾淨。</li>
                        <li>3、主觀題答題，必須使用黑色簽字筆書寫。</li>
                        <li>4、必須在題號對應的答題區域內作答，超出答題區域書寫無效。</li>
                    </ul>
                </div>
                <div class="Attention_r">
                    <ul>
                        <li>正確：<div class="rectangle l_r_red"></div></li>
                        <li class="error">錯誤： <span class="l_r_red"><div class="error_border"></div></span> <span class="l_r_red">√</span> <span class="l_r_red"><div class="error_angle"></div></span> <span class="l_r_red">/</span></li>
                        <li class="margin_top">缺考(考官填塗)： <span><div class="EmptySpace"></div></span></li>
                    </ul>
                </div>
            </div>

            <div class="ContainerBottom Cont_bottom">
                <div class="bottom_border"></div>
                <div class="marginWidth"></div>
                <div class="bottom_border"></div>
            </div>
        </div>
    </template>
    <template class="hidden" id="card-ques-area-template">
        <div class="card-ques-area {1}" data-ques-id="{0}" style="left: {2}px; top: {3}px; width: {4}px; height: {5}px;">
            <span class="fa fa-check-circle pull-right" title="取消关联"></span>
            <span class="fa fa-check-circle-o pull-right" title="关联题目"></span>
            <div class="card-ques-area-btn">
                <span class="fa fa-crop" title="框选题目"></span>
                <span class="fa fa-file-text-o" title="题目详情"></span>
            </div>
        </div>
    </template>
    <div id="question-info-template" style="position: absolute; left: -2000px; top: -2000px;" th:if="'preview' != ${mode}">
        <div class="ques-panel">
            <div class="ques-panel-header">
                <div class="fixed-wrapper">
                    <span class="btn btn-custom _sure">确定</span>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">题号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control question-no" style="max-width: 120px;" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">题型</label>
                    <div class="col-sm-10">
                        <p class="form-control-static question-type">选择题</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">分数</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control points" style="max-width: 120px;" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">难易度</label>
                    <div class="col-sm-10">
                        <span class="btn btn-toggle difficult" th:each="difficulty : ${difficulties}" th:attr="data-key=${difficulty.code},data-name=${difficulty.name}" th:text="${difficulty.name}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">难易度</label>
                    <div class="col-sm-10 ability-area">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">答案</label>
                    <div class="col-sm-10">
                        <div class="form-control-static answer-area">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">解析</label>
                    <div class="col-sm-10">
                        <div class="form-control-static analysis-area">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">知识点</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">
                            <div id="knowledge-area" class="knowledge-area ztree"></div>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-offset-2 col-sm-10">-->
                        <!--&lt;!&ndash;                                <button type="submit" class="btn btn-default">确定</button>&ndash;&gt;-->
                        <!--<span class="btn btn-custom _close">关闭</span>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>