html,
body,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background: white;
  border-left: 1px solid #e8e8e8;
}
::-webkit-scrollbar-thumb {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 6px;
  background: #c9c9c9;
}
::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}
.btn,
.btn:focus {
  outline: 0;
  min-width: 60px;
  border-radius: 0;
}
.btn-toggle {
  color: #1c63d0;
  border-color: #1c63d0;
  background-color: #fff;
}
.btn-toggle:hover,
.btn-toggle.active,
.btn-toggle.active:focus,
.btn-toggle.active:hover {
  color: #fff;
  border-color: #1c63d0;
  background-color: #1c63d0;
}
.btn-custom {
  color: #fff;
  background-color: #1C63D0;
}
.btn-custom:hover {
  color: #fff;
  background-color: #1C63D0;
}
.btn-custom:active,
.btn-custom:focus {
  color: #fff;
  background-color: #1c63d0;
}
.border-box {
  box-sizing: border-box;
}
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text_no_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.ztree * {
  font-size: 14px;
}
.ztree .fa {
  font-family: FontAwesome;
}
.ztree .fa.fa-crop {
  color: #FC6873;
}
.ztree .fa.fa-file-text-o {
  color: #1C63D0;
}
.ztree li span.button.switch {
  background: none;
  font-family: FontAwesome;
}
.ztree li span.button.switch:before {
  position: relative;
  top: 9px;
  left: 3px;
}
.ztree li span.button.noline_open:before {
  content: '\f147';
}
.ztree li span.button.noline_close:before {
  content: '\f196';
}
.ppr-container {
  width: 100%;
  height: 100%;
}
.ppr-container .ppr-header {
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #CCCCCC;
  background-color: white;
}
.ppr-container .ppr-header .ppr-header-info {
  height: 50px;
  padding-top: 15px;
  padding-left: 20px;
  display: inline-block;
  width: 650px;
}
.ppr-container .ppr-header .ppr-header-info.no-content {
  color: #CCCCCC;
}
.ppr-container .ppr-header .ppr-header-info .info-title {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  margin: 0;
}
.ppr-container .ppr-header .ppr-header-info .info-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
  margin: 0px 10px 0px 8px;
  border-right: 1px solid #333;
  font-weight: normal;
  max-width: 200px;
  display: inline;
}
.ppr-container .ppr-header .ppr-header-info .info-content:last-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}
.ppr-container .ppr-header .ppr-header-info .info-split {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 15px;
}
.ppr-container .ppr-header .ppr-header-op {
  top: 0px;
  right: 20px;
  display: inline-block;
  float: right;
}
.ppr-container .ppr-header .ppr-header-op .btn {
  margin: 7px 5px;
}
.ppr-container .ppr-body {
  width: 100%;
  height: 100%;
}
.ppr-container .ppr-body .ppr-body-left {
  box-sizing: border-box;
  width: 160px;
  height: 100%;
  float: left;
  padding: 8px 0px;
  border-right: 1px solid #CCCCCC;
  background-color: #fff;
  overflow: auto;
}
.ppr-container .ppr-body .ppr-body-left .btn-tool {
  width: 100px;
  padding: 2px 0px;
  border: 1px solid #1C63D0;
  color: #1C63D0;
  background-color: #fff;
}
.ppr-container .ppr-body .ppr-body-left > li {
  width: 100%;
  text-align: center;
}
.ppr-container .ppr-body .ppr-body-left > li .box-header {
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 0px 10px;
  text-align: left;
  background-color: #E5E7EA;
}
.ppr-container .ppr-body .ppr-body-left > li .box-header i {
  float: right;
  line-height: 32px;
  font-size: 20px;
  margin-right: 2px;
}
.ppr-container .ppr-body .ppr-body-left > li .box-body {
  display: none;
  padding: 6px 0px;
}
.ppr-container .ppr-body .ppr-body-left > li .box-body .btn-tool {
  margin: 3px auto;
}
.ppr-container .ppr-body .ppr-body-left > li.active .box-header i {
  transform: rotate(90deg);
}
.ppr-container .ppr-body .ppr-body-left > li.active .box-body {
  display: block;
}
.ppr-container .ppr-body .ppr-body-left .jstree {
  text-align: left;
}
.ppr-container .ppr-body .ppr-body-right {
  box-sizing: border-box;
  width: calc(100% - 160px);
  height: 100%;
  padding: 20px;
  background-color: #DADBDF;
  overflow-x: auto;
  overflow-y: hidden;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper {
  position: relative;
  width: 1700px;
  height: 100%;
  margin: 0px auto;
  padding: 15px;
  background-color: #F2F2F2;
  overflow: hidden;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container {
  position: relative;
  width: 820px;
  height: 100%;
  border: 1px solid black;
  float: left;
  background-color: #F2F2F2;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 30px);
  /*top: -30px;*/
  overflow-y: scroll;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file {
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  width: 796px;
  margin: 10px auto;
  text-align: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file img {
  max-width: 796px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .file-operation-header {
  position: relative;
  height: 0;
  display: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .file-operation-header .btn-group {
  float: right;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation.hover .file-operation-header {
  display: block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item {
  position: absolute;
  border: 1px solid #FC6873;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item .ques-item-control {
  display: none;
  position: absolute;
  z-index: 1;
  left: 49%;
  height: 11px;
  width: 11px;
  border-radius: 6px;
  border: 1px solid #FC6873;
  cursor: n-resize;
  background: white;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item .ques-item-header {
  top: -6px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item .ques-item-footer {
  bottom: -6px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item .ques-item-operation {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;
  text-align: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item .ques-item-operation span {
  display: inline-block;
  min-width: 80px;
  padding: 6px 10px;
  border: 1px solid #FC6873;
  background-color: #fff;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item .ques-item-no {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  max-height: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(45, 218, 147, 0.5);
  color: #fff;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.hover .ques-item-control,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.selected .ques-item-control,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.hover .ques-item-operation,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.selected .ques-item-operation {
  display: block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.hover .ques-item-no,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.selected .ques-item-no {
  background-color: #2DCA93;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.hover.related,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.selected.related {
  border-color: #2DCA93;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.related {
  border-color: rgba(45, 218, 147, 0.5);
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .exam-container .exam-wrapper .exam-item-file .file-operation .ques-item.related .ques-item-no {
  display: block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container {
  position: relative;
  width: 820px;
  height: 100%;
  padding: 10px 0px 0px;
  overflow-y: auto;
  float: right;
  background-color: white;
  color: #000000;
  /* .AllTable div {   margin-right: 20px; } */
  /* .No_Four_font {   display: flex;   justify-content: space-between;   padding: 20px;   display: none; } */
  /* a {   color: #000000; } */
  /* 准考证页面 */
  /* 作文弹窗 */
  /*  */
  /*
          .InputY::-webkit-input-placeholder {   color: #ffffff; }
          .InputY::-moz-input-placeholder {   color: #ffffff; }
          .InputY::-ms-input-placeholder {   color: #ffffff; } */
  /* .Tb_com:hover .setting {   display: block; } */
  /* .Tb_com:hover {   border: 1px solid #1F92E0; } */
  /* .Ac_line {} */
  /* .No_radius_h {   width: 48px;   height: 24px;   border-radius: 12px;   border: 1px solid #989898;   cursor: pointer; } */
  /*.MaxContanier, .marginFixBot {width: auto; max-width: 1171px;}*/
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-item {
  position: relative;
  width: 798px;
  height: 1125px;
  margin: 0px auto 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation {
  position: relative;
  top: 0;
  left: 0;
  width: 798px;
  height: 0px;
  margin: 0px auto;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area {
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0);
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area span.fa-check-circle {
  display: none;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  cursor: pointer;
  background-color: white;
  color: #2DCA93;
  font-size: 18px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area span.fa-check-circle-o {
  display: none;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  cursor: pointer;
  background-color: white;
  color: #2DCA93;
  font-size: 18px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area .card-ques-area-btn {
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: none;
  padding: 0px 5px;
  background-color: rgba(255, 255, 255, 0.6);
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area .card-ques-area-btn span {
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-color: white;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area .card-ques-area-btn span:hover {
  transform: scale(1.3);
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area .card-ques-area-btn span.fa-crop {
  color: #FC6873;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area .card-ques-area-btn span.fa-file-text-o {
  color: #1C63D0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area:hover,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area.selected {
  border-color: #FC6873;
  /*transform: scale(1.1);*/
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area:hover .card-ques-area-btn,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area.selected .card-ques-area-btn {
  display: block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area.related .card-ques-area-btn {
  /*background-color: @green-color;*/
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area.related .fa-check-circle {
  display: inline-block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area.related.disable .fa-check-circle {
  color: #CCCCCC;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area.related:hover,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .card-operation .card-ques-area.related.selected {
  border-color: #2DCA93;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .MaxContanier_l {
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  width: 796px;
  height: 1123px;
  page-break-after: always;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .ContainerHeader {
  display: flex;
  padding: 20px 20px 0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .marginWidth {
  width: 690px;
  margin: 0 auto;
  /* margin-top: 196px; */
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .ballBlack {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 13px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .ballBlack2 {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 13px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .SquareBlack {
  width: 10px;
  height: 10px;
  background-color: #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TitleContent {
  display: flex;
  /* border-bottom: 1px dashed #000000; */
  height: 170px;
  margin: 10px;
  justify-content: flex-end;
  position: absolute;
  left: 52px;
  top: 22px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Sealline {
  border-bottom: 1px dashed #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Sealline_none {
  border-bottom: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TitleContent1 {
  width: 441px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TestName {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .StdInfo {
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .COL_StdInfo {
  height: 120px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .COL_StdInfo li {
  height: 35px;
  margin-bottom: 10px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Small_COL_StdInfo {
  height: 120px;
  font-size: 16px;
  display: flex;
  width: 673px;
  justify-content: space-between;
  margin-left: 10px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Small_COL_StdInfo li {
  height: 35px;
  margin-bottom: 10px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .QR_Code {
  height: 122px;
  width: 122px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .QR_Code2 {
  height: 122px;
  width: 122px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  margin-left: 168px;
  align-items: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TwoBorder {
  display: flex;
  margin-top: -7px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .underline {
  /* width: 75px; border-bottom: 1px solid #000000; margin-right: 10px; */
  width: 86px;
  border-bottom: 1px solid #000000;
  margin-right: 13px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Col_underline {
  width: 86px;
  border-bottom: 1px solid #000000;
  margin-left: 50px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .dashed_border {
  border-bottom: 1px dashed #000000;
  padding-bottom: 12px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Ab_Two {
  position: absolute;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TitleContent2 {
  width: 114px;
  height: 114px;
  border: 1px solid #000000;
  margin: 29px 10px 0 0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TitleContent3 {
  height: 145px;
  width: 120px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container ul li {
  list-style: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container td.allNumberB span {
  margin-left: 3px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .allNumberB {
  width: 253px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rowBorder {
  height: 122px;
  margin-top: -7px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rowBorder tr td:nth-child(1),
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rowBorder tr td:nth-child(2) {
  width: 28px;
  /* text-align: center; */
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Attention {
  display: flex;
  justify-content: space-around;
  margin-top: 192px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Attention22 {
  display: flex;
  justify-content: space-around;
  margin-top: 290px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Attention_l {
  border: 1px solid #000000;
  width: 437px;
  padding: 3px 8px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Attention_r ul li {
  width: 224px;
  border: 1px solid #000000;
  height: 26px;
  /* line-height: 26px; */
  padding-left: 8px;
  display: flex;
  align-items: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .margin_top {
  margin-top: 10px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rectangle {
  width: 25px;
  height: 17px;
  background-color: #000000;
  margin-left: 67px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .l_r_red {
  border-left: 1px solid #9E280B;
  border-right: 1px solid #9E280B;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .error span {
  width: 28px;
  height: 18px;
  margin-right: 6px;
  display: flex;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .error_border {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .error_angle {
  width: 8px;
  height: 8px;
  background-color: #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .EmptySpace {
  width: 25px;
  height: 15px;
  border: 1px solid #000000;
  margin-left: 20px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllTable {
  display: flex;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Font_flew {
  display: flex;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Tb_com_1 {
  border: 1px solid #000000;
  padding: 15px;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Tb_com_1 > div {
  margin: 6px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Tb_com {
  border: 1px solid #000000;
  padding: 0px 5px 15px;
  margin-bottom: 14px;
  position: relative;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllTable_one {
  border: 1px solid #BB4313;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllTable_one tr {
  text-align: center;
  height: 22px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllTable_one tr th {
  width: 30px;
  text-align: center;
  font-weight: normal;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Write_text {
  width: 640px;
  border-bottom: 1px solid #000000;
  height: 30px;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Write_text:hover {
  border-bottom: 1px solid #1E92E0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllSmallUnder {
  display: flex;
  flex-wrap: wrap;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Write_text_s:hover {
  border-bottom: 1px solid #1E92E0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Write_text_s {
  min-width: 200px;
  max-width: 425px;
  border-bottom: 1px solid #000000;
  height: 30px;
  cursor: pointer;
  margin-right: 15px;
  resize: horizontal;
  overflow: auto;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .BigBorder {
  display: flex;
  margin-top: 10px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .title_number {
  margin-top: 12px;
  width: 20px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .textarea {
  border: transparent;
  margin-top: 20px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .locity {
  margin: 28px 11px 0 4px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .locity2 {
  margin: 100px 11px 0 4px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .l_width {
  width: 22px;
  height: 11px;
  background-color: #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .l_width_1 {
  width: 22px;
  height: 11px;
  background-color: #000000;
  position: absolute;
  left: 22px;
  top: 300px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Four_black {
  margin: 56px 4px 0 10px;
  position: absolute;
  right: 21px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Four_black div {
  margin-bottom: 11px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Numberone {
  margin-right: 32px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .NumberTwo {
  margin-right: 33px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .bottom_border {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .all_width {
  display: flex;
  justify-content: space-between;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .bt_four {
  display: flex;
  margin-top: 7px;
  padding: 0 10px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .bt_four .l_width {
  margin-right: 8px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .ContainerCenter {
  display: flex;
  padding: 0 20px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Essay_table {
  margin-bottom: 3px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Essay_table tr {
  height: 31px;
  /* margin-bottom: 3px; */
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Essay_table tr td {
  width: 31px;
  border: 2px solid #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .All_table {
  border: 1px solid #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .five_Essay_p {
  margin: 10px 0 10px 0px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .MaxContanier_r {
  width: 272px;
  background-color: #FFFFFF;
  /* position: absolute; right: 0; height: 100%; */
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .fix_right {
  position: fixed;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .MaxContanier_r h4 {
  background-color: #F7F7F7;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Nav_title {
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  font-weight: 600;
  background-color: #f7f7f7;
  padding-left: 20px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .All_barrier {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px 0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .All_barrier div {
  text-align: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .All_barrier div p {
  margin-top: 5px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .barrier {
  width: 73px;
  height: 64px;
  border: 1px solid #989898;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .b_active {
  border: 2px solid #1F92E0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .one_barrier {
  height: 34px;
  width: 43px;
  background-color: #CBCBCB;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .two_barrier {
  height: 34px;
  width: 23px;
  background-color: #CBCBCB;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .three_barrier {
  height: 34px;
  width: 17px;
  background-color: #CBCBCB;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .gray_font {
  color: #989898;
  margin-left: 15px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .All_format {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .border_fm {
  height: 33px;
  width: 74px;
  border: 1px solid #989898;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .NodecideFont {
  display: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Four_font {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .nav-tabs > li > a {
  font-size: 16px;
  color: #333333;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .nav-tabs > li.active > a,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .nav-tabs > li.active > a:focus,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .nav-tabs > li.active > a:hover {
  /* background-color: #1F92E0; */
  color: #ffffff;
  text-decoration: none;
  border: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .bgc_font {
  background-color: #A8A8A8;
  color: #000000;
  padding: 15px 0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .border_fm a {
  color: #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container a,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container a:focus,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container a:hover {
  text-decoration: none;
  border: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TitleContent_number {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  position: absolute;
  left: 48px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rectangle_number {
  width: 25px;
  height: 17px;
  background-color: #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .EmptySpace_number {
  width: 25px;
  height: 15px;
  border: 1px solid #000000;
  margin-right: 6px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Attention_l_number {
  border: 1px solid #000000;
  width: 440px;
  padding: 3px 8px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TitleContent1_number {
  /* width: 441px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .number_zhun tr th {
  text-align: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .number_zhun tr {
  height: 20px;
  text-align: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .number_zhun tr td {
  width: 30px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .allNumber {
  height: 185px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .small_number {
  margin-right: 25px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .add_underline {
  position: absolute;
  right: -40px;
  /* top: 20px; */
  cursor: pointer;
  display: none;
  bottom: 0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .add_underline2 {
  position: absolute;
  right: -21px;
  bottom: 0px;
  cursor: pointer;
  display: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllWriteUnder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllWriteUnder:hover .add_underline {
  display: block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllWriteUnder:hover .add_underline2 {
  display: block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .layCont {
  margin: 0 auto;
  /* width: 279px; */
  /* margin-top: 8%; */
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AddRemove {
  display: flex;
  border: 1px solid #CBCBCB;
  /* width: 188px; */
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Add_P {
  display: flex;
  align-items: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AddOpen img {
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Three_n {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 250px; */
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .China_number {
  width: 66px;
  height: 35px;
  border: 1px solid #CACACA;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .C_active {
  background-color: #4599EB;
  color: #ffffff;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Def_P {
  display: flex;
  align-items: center;
  padding-left: 18px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .layui-layer-btn.layui-layer-btn- {
  text-align: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .removeOpen img {
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .layui-layer-title {
  background-color: #4598EC;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .layui-layer.layui-layer-my .layui-layer-title {
  background-color: #4598EC;
  /* 标题背景颜色 */
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .setting {
  position: absolute;
  right: -32px;
  top: -1px;
  cursor: pointer;
  display: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .MagicPen {
  position: absolute;
  right: 6px;
  top: 3px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .MagicPen2 {
  position: absolute;
  right: 6px;
  top: 3px;
  display: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .custom_over,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .custom {
  width: 88px;
  position: relative;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Def_n {
  background-color: #4598EC;
  color: #ffffff;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container input.InputN {
  width: 86px;
  height: 31px;
  padding-left: 12px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container input.InputY {
  width: 86px;
  height: 31px;
  padding-left: 12px;
  background-color: #4598EC;
  color: #ffffff;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .displayBlock {
  display: block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .diaplayNone {
  display: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .InputN::-webkit-input-placeholder {
  color: #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .InputN::-ms-input-placeholder {
  color: #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .defaultNumber {
  position: absolute;
  right: 4px;
  top: 3px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .defaultNumber span:nth-child(1),
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .defaultNumber span:nth-child(2),
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .defaultNumber span:nth-child(3) {
  height: 31px;
  border: 1px solid #CBCBCB;
  width: 76px;
  text-align: center;
  display: inline-block;
  line-height: 31px;
  margin-left: 5px;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .defaultNumber span img {
  vertical-align: baseline;
  width: 11px;
  height: 11px;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rowNumber {
  /*display: none;*/
  position: absolute;
  right: 0;
  top: 0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rowDiscern {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rowDiscern td {
  width: 50px;
  border-bottom: 1px solid #0000001f;
  border-left: 1px solid #0000001f;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rowDiscern .point {
  font-size: 20px;
  text-align: end;
  vertical-align: bottom;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllWriteUnder {
  width: 440px !important;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllWriteUnder .Write_text_s .rowDiscern {
  width: 200px !important;
  top: 10px;
  border-top: 1px solid #0000001f;
  border-right: 1px solid #0000001f;
  left: 444px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .ContainerBottom {
  display: flex;
  padding: 20px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .ContanierBottomFix {
  position: fixed;
  bottom: 0;
  height: 62px;
  background-color: #F5F5F5;
  width: 100%;
  border-top: 1px solid #1F92E0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .marginFixBot {
  width: 1171px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .red_font {
  color: #FF0302;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .input_font {
  width: 88px;
  height: 34px;
  background-color: #1F92E0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .All_input_font {
  display: flex;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .SettingThree li {
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #CBCBCB;
  width: 249px;
  display: flex;
  margin-left: 22px;
  justify-content: space-between;
  align-items: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .radius_bor {
  width: 48px;
  height: 24px;
  margin-right: 10px;
  border-radius: 12px;
  background-color: #1F92E0;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .English_border li {
  height: 36px;
  border-bottom: 1px solid #000000;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .radius_bor_line {
  width: 48px;
  height: 24px;
  margin-right: 10px;
  border-radius: 12px;
  background-color: #1F92E0;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .radius_bor_h {
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background-color: #1F92E0;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .No_radius {
  width: 48px;
  height: 24px;
  margin-right: 10px;
  border-radius: 12px;
  border: 1px solid #989898;
  cursor: pointer;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .block_n {
  display: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .block_y {
  display: block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .no {
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background-color: #989898;
  margin-top: 4px;
  margin-left: 26px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .ok {
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background-color: #ffffff;
  margin-top: 4px;
  margin-left: 5px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .displayBlock {
  display: block;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .diaplayNone {
  display: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .disable {
  pointer-events: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllTable_one td p.ques_option {
  font-family: Futura, Trebuchet MS, Arial, sans-serif !important;
  font-size: 12px !important;
  -webkit-transform: scale(0.8) !important;
  -o-transform: scale(1) !important;
  display: inline-block !important;
  margin: 0px !important;
  padding: 0 2px 0 2px!important;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Tb_com_1 .judge_ques p.judge_ques_option {
  display: inline-block;
  font-family: Futura, Trebuchet MS, Arial, sans-serif !important;
  font-size: 12px !important;
  -webkit-transform: scale(0.8) !important;
  -o-transform: scale(1) !important;
  margin: 0px !important;
  padding: 0 3px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .bgc_font {
  padding: 15px 45px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .ContainerHeader {
  display: block;
  margin-bottom: 10px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .square_black_group {
  position: absolute;
  left: 56px;
  top: 28px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .SquareBlack {
  margin-right: 10px;
  float: left;
  background: black!important;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rowBorder tr td:nth-child(1) {
  width: 24px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .QR_Code {
  margin-left: 60px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .allNumberB {
  width: 290px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container td.allNumberB span {
  margin-left: 2px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container img.qr-image {
  width: 110px;
  height: 110px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TestName {
  height: 32px;
  overflow: hidden;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Attention {
  margin-top: 0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Numberone {
  margin-right: auto;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rectangle,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .error_border,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .error_angle {
  background: black!important;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Title_Content {
  display: flex;
  height: 170px;
  justify-content: flex-end;
  margin-top: 20px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TitleContent_number {
  position: inherit;
  margin: 20px auto 0px;
  padding-bottom: 4px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .TitleContent_number.dashed_border {
  padding-bottom: 3px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllTable_one tr th,
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllTable_one tr td {
  min-width: 30px;
  max-width: 30px;
  overflow: hidden;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Tb_com {
  margin-bottom: 0px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .BigBorder {
  margin-top: 0px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .title_number {
  height: 18px;
  margin-top: 22px;
  width: 24px;
  text-align: center;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllWriteUnder {
  width: 640px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Write_text_s {
  min-width: 50px;
  height: 40px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .add_underline {
  position: relative;
  width: 0px;
  right: 0px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .add_underline_op {
  width: 46px;
  margin-top: 18px;
  height: 20px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .judge_ques {
  width: 150px;
  overflow: hidden;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .judge_ques div {
  width: 50px;
  height: 20px;
  float: left;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .judge_ques div.ques_no {
  width: 34px;
  overflow: hidden;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .textarea {
  resize: none;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container textarea:disabled {
  background-color: white;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .custom {
  top: -1px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .ContainerBottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .bottom_border {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: black!important;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .input_font {
  border: 1px solid #1F92E0;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .input_font.un_reach {
  background-color: #ffffff;
  color: #1F92E0;
}
@media print {
  .ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .MaxContanier_l {
    margin-bottom: 0px;
    border: 0px;
    height: 1123px;
    width: 796px;
  }
  .ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Write_text_s {
    resize: none;
  }
  .ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .no-print {
    display: none;
  }
  .ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .rowDiscern {
    display: block;
  }
  .ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .AllTable_one td p.ques_option {
    font-family: Futura, Trebuchet MS, Arial, sans-serif !important;
    font-size: 12px !important;
    -webkit-transform: scale(0.8) !important;
    -o-transform: scale(1) !important;
    display: inline-block !important;
    margin: 0px !important;
    padding: 0 2px 0 2px!important;
  }
  .ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .Tb_com_1 .judge_ques p.judge_ques_option {
    display: inline-block !important;
    margin: 0px !important;
    padding: 0 3px !important;
  }
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .MaxContanier[mode="preview"] {
  width: 796px;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .MaxContanier[mode="preview"] .bgc_font {
  padding: 10px 0px 0px;
  background-color: #EFEFEF;
}
.ppr-container .ppr-body .ppr-body-right .container-wrapper .card-container .sectionName {
  height: 15px;
}
.ppr-container .ppr-body._preview .ppr-body-left {
  display: none;
}
.ppr-container .ppr-body._preview .ppr-body-right {
  width: 100%;
}
.ppr-container .ppr-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: #E5E7EA;
}
.ques-panel {
  padding: 15px;
}
.ques-panel .ques-panel-header {
  position: relative;
  width: 80px;
  height: 0px;
  float: right;
  z-index: 1;
}
.ques-panel .ques-panel-header .fixed-wrapper {
  position: fixed;
}
.ques-panel .form-group {
  margin-bottom: 10px;
}
.ques-panel .form-group .knowledge-area {
  border: 1px solid #ccc;
  height: 240px;
  overflow-y: auto;
}
.ques-panel .form-group .btn-toggle {
  min-width: 60px;
  margin: 4px 15px 4px 0px;
  padding: 2px 12px;
  border-radius: 0;
}
.ques-panel .form-group .form-control {
  border-radius: 0;
  box-shadow: none;
}
.ques-panel .form-group .form-control:focus {
  border-color: #ccc;
  box-shadow: none;
}
.ruler-container {
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.ruler-container .ruler-wrapper {
  position: relative;
  width: 796px;
  margin: 0px auto;
  padding: 6px 0px;
  height: 30px;
  background-color: #F1F2F4;
}
.ruler-container .ruler-wrapper .ruler-body {
  height: 18px;
  line-height: 18px;
  background-color: #fff;
  overflow: hidden;
}
.ruler-container .ruler-wrapper .ruler-body span {
  display: inline-block;
  width: 38px;
  border-right: 1px solid #CCCCCC;
  text-align: center;
  box-sizing: border-box;
}
.ruler-container .ruler-wrapper .ruler-body span:first-child {
  width: 37px;
}
.ruler-container .ruler-wrapper .ruler-body span:last-child {
  width: 37px;
  border-right: 0px;
}
.ruler-container .ruler-wrapper .ruler-selected {
  position: absolute;
  top: 8px;
  left: 17px;
  width: 400px;
  height: 14px;
  background-color: rgba(153, 153, 153, 0.7);
}
.ruler-container .ruler-wrapper .ruler-limit {
  position: absolute;
  top: 8px;
  width: 14px;
  height: 8px;
  transform: rotate(90deg);
  cursor: pointer;
  opacity: 0.7;
}
.ruler-container .ruler-wrapper .ruler-limit:before {
  position: relative;
  top: -6px;
  content: '\27BD';
  color: #999;
}
.ruler-container .ruler-wrapper .ruler-limit:hover {
  transform: scale(1.5) rotate(90deg);
  opacity: 1;
}
._preview .ruler-container {
  display: none;
}
.tool-panel {
  position: absolute;
  cursor: move;
  right: 130px;
  top: 20px;
  width: 112px;
  z-index: 10;
  height: 40px;
  padding: 0 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: hsl(0, 0%, 100%);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 10px rgba(46, 47, 48, 0.15);
  box-shadow: 0 3px 10px rgba(46, 47, 48, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tool-panel .tool-zoom {
  line-height: 18px;
}
.tool-panel .tool-zoom .zoom-in,
.tool-panel .tool-zoom .zoom-out,
.tool-panel .tool-zoom .zoom-revert {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  color: white;
  background-color: #2DCA93;
  font-weight: bold;
  cursor: pointer;
}
.tool-panel .tool-zoom .zoom-in:before {
  content: "-";
  font-size: 16px;
  position: relative;
  left: 5px;
  top: -2px;
}
.tool-panel .tool-zoom .zoom-out:before {
  content: "+";
  font-size: 16px;
  position: relative;
  left: 3px;
  top: 0px;
}
.tool-panel .tool-zoom .zoom-revert:before {
  content: "\21BB";
  font-size: 16px;
  position: relative;
  top: -1px;
}
.tool-panel .tool-zoom .zoom-revert {
  transform: rotate(180deg);
}
.container-shader {
  display: none;
  position: absolute;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #33333380;
}
.ppr-shader {
  display: none;
  position: absolute;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #33333380;
}
._lock_all .ppr-shader,
._lock_all .container-shader {
  display: block;
}
._lock_all .container-wrapper {
  z-index: 15;
}
._lock_exam .ppr-shader,
._lock_exam .container-shader {
  display: block;
}
._lock_exam .container-wrapper {
  z-index: 15;
}
._lock_exam .exam-container {
  z-index: 15;
}
._lock_card .ppr-shader,
._lock_card .container-shader {
  display: block;
}
._lock_card .container-wrapper {
  z-index: 15;
}
._lock_card .container-wrapper .card-container {
  z-index: 15;
}
