<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head>
		<meta charset="UTF-8" />
		<title>试卷信息</title>

		<link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/paper/baseStyle.css(v=${_v})}"/>
		<link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/paper/style20190606.css(v=${_v})}"/>
        <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/comm/plugins/jsTree/themes/default/font-awesome/css/font-awesome.min.css(v=${_v})}" />
        <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/comm/plugins/jsTree/themes/default/style.min.css(v=${_v})}" />
        <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/comm/plugins/jsTree/themes/default/components.min.css(v=${_v})}" />
        <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/comm/plugins/jsTree/themes/default/plugins.min.css(v=${_v})}" />
		<style th:inline="text">
			.form-box201906 .li_ .lt_{
				width: 50px;
			}
            .knowledge_tree {
                height: 230px;
                width: 300px;
                border: 1px solid #e1e1e1;
                padding: 6px;
                overflow: auto;
                margin-left: 8px;
            }
            .editPaperInfo {
                padding: 5px 20px;
            }
            .editPaperInfo .li_ {
                margin-top: 15px;
            }
            .form-box201906 .li_ .rt_ .select_{
                margin-left: 8px;
            }
            .form-box201906 .li_ .lt_ {
                width: 56px;
            }
		</style>
	</head>
	<body class="bgC_">
		<ul class="form-box201906 editPaperInfo">
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_00_001}'>学段</span><em>*</em></label><div class="rt_">
				<div class="select_"><select name="stageCode" id="stageCode">
					<option value="" th:text='#{UI_70_01_02_049}'>请选择学段</option>
					<option value="">小学</option>
					<option value="">初中</option>
					<option value="">高中</option>
				</select></div>
			</div></li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_00_002}'>年级</span><em>*</em></label><div class="rt_">
				<div class="select_"><select name="gradeCode" id="gradeCode">
					<option value="" th:text='#{UI_70_01_02_050}'>请选择年级</option>
					<option value="">一年级</option>
					<option value="">二年级</option>
					<option value="">三年级</option>
				</select></div>
			</div></li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_00_003}'>学科</span><em>*</em></label><div class="rt_">
				<div class="select_"><select name="subjectCode" id="subjectCode">
					<option value="" th:text='#{UI_70_01_02_051}'>请选择学科</option>
					<option value="">语文</option>
					<option value="">数学</option>
					<option value="">英语</option>
				</select></div>
			</div></li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_01_02_052}'>试卷名称</span><em>*</em></label><div class="rt_">
				<input type="text" style="margin-left: 8px" class="input_" id="name" name="name" th:value="${paper.name}" autocomplete="false" />
			</div></li>
            <li class="li_"><label class="lt_"><span th:text='#{UI_70_00_011}'>教材版本</span></label><div class="rt_">
                <div class="select_"><select name="materialVersion" id="materialVersion">
                    <option value="" th:text='#{UI_70_01_02_053}'>请选择教材版本</option>
                </select></div>
            </div></li>
			<li class="li_"><label class="lt_"><span th:text='#{UI_70_00_012}'>知识点</span></label>
                <div class="knowledge_tree">
                    <div id="knowledgeTree"></div>
                </div>
			</li>
			<li class="li_ btn_box"><span class="btn_01" id="sure" th:text="#{UI_70_00_008}">确定</span><span class="btn_01 bg3" th:text="#{UI_70_00_009}">取消</span></li>
		</ul>

		<script th:src="${_contextPath} + @{/comm/plugins/jQuery/jquery-3.0.0.min.js(v=${_v})}"></script>
		<script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/layer/layer.js(v=${_v})}"></script>
		<script type="text/javascript" th:src="${_contextPath} + @{/comm/js/BaseUtils.js(v=${_v})}"></script>
		<script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/CommUtils.js(v=${_v})}"></script>
        <script th:inline="javascript" th:src="${_contextPath} + @{/comm/plugins/jsTree/jstree.min.js(v=${_v})}"></script>
		<script type="text/javascript" th:inline="javascript">
			/* <![CDATA[ */
			var BaseInfoPage = {
				stageCode : "",
				gradeCode : "",
				subjectCode : "",
                materialVersion : "",
                searchCode : "",
                knowledgeList : [],
				init : function() {
					this.initStageSelector();
					this.initEvent();
				},
				initEvent : function() {
					var _this = this;
					$("#sure").on("click", function(){
						if (_this.validForm()) {
							var param = _this.getParam();
							window.parent.postMessage({'type' : 'editBaseInfo', data : param}, "*");
							var index=parent.layer.getFrameIndex(window.name);
							parent.layer.close(index);
						}
					});
					$(".btn_01.bg3").bind('click',function(){
						var index=parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					})
				},
				initStageSelector : function(){
					var _this = this;
					$('#stageCode option:gt(0)').remove();
					$.each(this.stageGradeSubjects.stages, function(index, obj){
						$('#stageCode').append('<option value="'+obj.stageCode+'">'+obj.stageName+'</option>');
					});
					if (!CommUtils.isEmpty(_this.stageCode)) {
						$('#stageCode').val(_this.stageCode);
					}
					$('#stageCode').change(function(){
						_this.stageCode = $(this).val();
						_this.gradeCode = '';
						_this.subjectCode = '';
						$("#gradeCode").val("");
						$("#subejctCode").val("");
						_this.materialVersion = "";
						_this.initGradeSelector();
						_this.resetPaperName();
					});
					_this.initGradeSelector();
				},
				initGradeSelector : function(){
					var _this = this;
					$('#gradeCode option:gt(0)').remove();
					$.each(this.stageGradeSubjects.grades, function(index, obj){
						if (_this.stageCode == obj.stageCode)
							$('#gradeCode').append('<option value="'+obj.gradeCode+'">'+obj.gradeName+'</option>');
					});
					if (!CommUtils.isEmpty(_this.gradeCode)) {
						$('#gradeCode').val(_this.gradeCode);
					}
					$('#gradeCode').unbind('change').change(function(){
						_this.gradeCode = $(this).val();
						_this.subjectCode == '';
						_this.materialVersion = "";
						_this.initSubjectSelector();
						_this.resetPaperName();
					});
					_this.initSubjectSelector();
				},
				initSubjectSelector : function(){
					var _this = this;
					$('#subjectCode option:gt(0)').remove();
					$.each(this.stageGradeSubjects.subjects, function(index, obj){
						if (_this.gradeCode == obj.gradeCode)
							$('#subjectCode').append('<option value="'+obj.subjectCode+'">'+obj.subjectName+'</option>');
					});
					if (!CommUtils.isEmpty(_this.subjectCode)) {
						$('#subjectCode').val(_this.subjectCode);
					}
                    _this.initMaterialVersion();
					$('#subjectCode').unbind('change').change(function(){
						_this.subjectCode = $(this).val();
						_this.materialVersion = "";
						_this.initMaterialVersion();
						_this.resetPaperName();
					});
				},
                initMaterialVersion : function() {
				    var _this = this;
                    $('#materialVersion option:gt(0)').remove();
                    KnowledgeTree.init();
				    if(CommUtils.isEmpty(_this.subjectCode)) {
				        return;
                    }
				    $.get(_this.getMaterialVersion,{gradeCode:_this.gradeCode,subjectCode:_this.subjectCode},function (data) {
                        if(CommUtils.isNotEmpty(data.data)) {
                            $.each(data.data,function (index, obj) {
                                $('#materialVersion').append('<option value="'+obj.code+'">'+obj.name+'</option>');
                            })
                        }
						if (!CommUtils.isEmpty(_this.materialVersion)) {
							$('#materialVersion').val(_this.materialVersion);
						}
                    });
                    $('#materialVersion').unbind('change').change(function(){
                        _this.materialVersion = $(this).val();
                        KnowledgeTree.init();
                    });
                },
				resetPaperName : function(){
					var date = CommUtils.formatDate(new Date(), 'yyyyMMdd');
					var param = this.getParam();
					var name = CommUtils.formatStr("{0}{1}{2}{3}" + [[#{UI_70_01_02_054}]], date, param.stageName, param.gradeName, param.subjectName);
					$("input[name='name']").val(name);
				},
				getParam : function() {
					return {
						"stageCode" : $("#stageCode").val(),
						"stageName" : CommUtils.isEmpty($("#stageCode").val()) ? '' : $("#stageCode option:selected").text(),
						"gradeCode" : $("#gradeCode").val(),
						"gradeName" : CommUtils.isEmpty($("#gradeCode").val()) ? '' : $("#gradeCode option:selected").text(),
						"subjectCode" : $("#subjectCode").val(),
						"subjectName" : CommUtils.isEmpty($("#subjectCode").val()) ? '' : $("#subjectCode option:selected").text(),
						"name" : $("#name").val(),
						"materialVersion" : $("#materialVersion").val(),
                        "knowledges" : KnowledgeTree.getKnowledge()
					};
				},
				validForm : function() {
					var validSuccess = true;
					if (CommUtils.isEmpty($("#stageCode").val())) {
						this.showTip([[#{MSG_70_01_01_005}]], "#stageCode");
						validSuccess = false;
					}
					if (CommUtils.isEmpty($("#gradeCode").val())) {
						this.showTip([[#{MSG_70_01_01_006}]], "#gradeCode");
						validSuccess = false;
					}
					if (CommUtils.isEmpty($("#subjectCode").val())) {
						this.showTip([[#{MSG_70_01_01_007}]], "#subjectCode");
						validSuccess = false;
					}
					if (CommUtils.isEmpty($("#name").val())) {
						this.showTip([[#{MSG_70_01_01_008}]], "#name");
						validSuccess = false;
					}
					return validSuccess;
				},
				showTip : function(content, selector) {
					layer.tips(content, selector, {
						tips: [3, '#1b92e2'],
						time: 1000,
						tipsMore: true
					});
				}
			}
			var KnowledgeTree = window.KnowledgeTree = {
			    init : function () {
                    var _this = this;
                    if ($('#knowledgeTree').jstree(true) != false) {
                        $('#knowledgeTree').jstree(true).destroy();
                        _this.knowledgeSetting.core.data = [];
                    }
                    if (CommUtils.isEmpty(BaseInfoPage.gradeCode) || CommUtils.isEmpty(BaseInfoPage.subjectCode) || CommUtils.isEmpty(BaseInfoPage.materialVersion)) {
                        return;
                    }
                    $.post(BaseInfoPage.getKnowledgeTree, {'gradeCode' : BaseInfoPage.gradeCode, 'subjectCode' : BaseInfoPage.subjectCode, 'materialVersion': BaseInfoPage.materialVersion}, function(data){
                        if (data.status == '1' && CommUtils.isNotEmpty(data.data) ) {
                            data = data.data;
                            _this.initTree(_this.convertData(data));
                        }
                    });
                },
                initTree : function(treeData){
                    var _this = this;
                    _this.knowledgeSetting.core.data = treeData;
                    $('#knowledgeTree').on('loaded.jstree',function(e, data){
                        if (!CommUtils.isEmpty(BaseInfoPage.knowledgeList)) {
                            $.each(BaseInfoPage.knowledgeList, function(i, knowledgeId){
                                $('#knowledgeTree').jstree(true).select_node(knowledgeId);
                            });
                        }
                    }).jstree(_this.knowledgeSetting);
                },
                convertData : function(data) {
                    return $.map(data, function(item){
                        var newItem = {
                            'id' : item.knowledgeId,
                            'parent' : item.parentId == null ? '#' : item.parentId,
                            'text' : item.knowledgeName,
                            'knowledgeId' : item.knowledgeId,
                            'knowledgeName' : item.knowledgeName,
                            'materialVersion' : item.materialVersion,
                            'materialVersionName' : item.materialVersionName || '',
                            'searchCode' : item.searchCode,
                            'outlineId' : item.outlineSearchCode,
                            'a_attr' : {
                                'title' : item.knowledgeName
                            }
                        }
                        return newItem;
                    });
                },
                getKnowledge : function() {
                    if ($('#knowledgeTree').jstree(true) == false) {
                        return [];
                    }
                    var checkedNodes = $('#knowledgeTree').jstree(true).get_checked(true);
                    var array = [];
                    $.each(checkedNodes, function(i, node){
                        var knowledge = CommUtils.clone(node.original);
                        delete knowledge['id'];
                        delete knowledge['text'];
                        delete knowledge['a_attr'];
                        delete knowledge['parent'];
                        array.push(knowledge);
                    });
                    return array;
                },
                knowledgeSetting : {
                    'plugins': ["wholerow", "checkbox", "types", "changed"],
                    'checkbox': {
                        "three_state" : false
                    },
                    'core': {
                        "multiple": true,
                        "themes" : {
                            "responsive": false
                        },
                        "check_callback" : true,
                        'data': []
                    },
                    "types" :{
                        "default" : {
                            "icon" : "fa fa-folder icon-state-warning icon-lg"
                        },
                        "file" : {
                            "icon" : "fa fa-file icon-state-warning icon-lg"
                        }
                    }
                },
            }

			$(function(){
				BaseInfoPage.stageCode = [[${paper.stageCode}]];
				BaseInfoPage.gradeCode = [[${paper.gradeCode}]];
				BaseInfoPage.subjectCode = [[${paper.subjectCode}]];
				BaseInfoPage.materialVersion = [[${paper.materialVersion}]];
				BaseInfoPage.name = [[${paper.name}]];
				BaseInfoPage.knowledgeList = [[${paper.searchCodes}]];
				BaseInfoPage.stageGradeSubjects = [[${stageGradeSubjects}]];
				BaseInfoPage.getMaterialVersion = [[${_contextPath} + @{/ppr/condition/materialversion/query}]];
                BaseInfoPage.getKnowledgeTree = [[${_contextPath} + @{'/ppr/condition/knowledge/query'}]];
				BaseInfoPage.init();
			});
			/* ]]> */
		</script>
	</body>
</html>
