<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enableets.edu.pakage.framework.ppr.test.dao.TestExamInfoDAO">

	<select id="getExamInfo" parameterType="java.lang.String" resultMap="examInfo">
		SELECT
		t1.exam_id as examId,
		t1.exam_name as examName,
		t1.grade_code as gradeCode,
		t1.grade_name as gradeName,
		t1.subject_code as subjectCode,
		t1.subject_name as subjectName,
		t1.exam_type as examType,
		t1.material_version_id as materialVersionId,
		t1.score as examScore,
		t1.answer_cost_time as answerCostTime,
		t1.description as description,
		t1.del_status as delStatus,
		t1.content_id as contentId,
		t1.diffcult as diffcult,
		t1.ability_id as abilityId,
		t1.school_code as schoolCode,
		t1.school_name as schoolName,
		t1.term_id as termId,
		t1.term_name as termName,
		t1.creator,
		t1.create_time as createTime,
		t2.exam_kind_id as examKindId,
		t2.kind_no as examKindNo,
		t2.score as examKindScore,
		t2.description as examKindDescription,
		t3.exam_question_type_id as examQuestionTypeId,
		t3.question_type_no as examQuestionTypeNo,
		t3.description as examQuestionTypeDescription,
		t3.score as examQuestionTypeScore,
		t4.exam_question_id as examQuestionId,
		t4.question_no as examQuestionNo,
		t4.question_order as examQuestionOrder,
		t4.score as examQuestionScore,
		t4.question_id as questionId,
		t5.exam_question_child_id as examQuestionChildId,
		t5.exam_question_id as examQuestionChildExamQuestionId,
		t5.question_child_no as examQuestionChildNo,
		t5.score as examQuestionChildScore,
		t5.question_child_id as questionChildId
		FROM exam_info t1
		LEFT JOIN exam_kind_info t2 ON t1.exam_id = t2.exam_id
		LEFT JOIN exam_question_type_info t3 ON t2.exam_kind_id = t3.exam_kind_id
		LEFT JOIN exam_question_info t4 ON t3.exam_question_type_id = t4.exam_question_type_id
		LEFT JOIN exam_question_child_info t5 ON t4.exam_question_id = t5.exam_question_id
		<where>
			<if test="examId != null and examId != ''">
				and t1.exam_id = #{examId}
			</if>
			<if test="contentId != null and contentId != ''">
				and t1.content_id = #{contentId}
				and t1.del_status = '0'
			</if>
		</where>
		order by t2.exam_kind_id,t3.question_type_no,t4.question_order,t5.exam_question_child_id
	</select>

	<resultMap type="com.enableets.edu.pakage.framework.ppr.test.po.ExamInfoPO" id="examInfo">
		<id column="examId" property="examId" />
		<result column="examName" property="examName" />
		<result column="examType" property="examType" />
		<result column="materialVersionId" property="materialVersionId" />
		<result column="examScore" property="score" />
		<result column="answerCostTime" property="answerCostTime" />
		<result column="description" property="description" />
		<result column="delStatus" property="delStatus" />
		<result column="contentId" property="contentId" />
		<result column="gradeCode" property="gradeCode" />
		<result column="gradeName" property="gradeName" />
		<result column="subjectCode" property="subjectCode" />
		<result column="subjectName" property="subjectName" />
		<result column="schoolCode" property="schoolCode" />
		<result column="schoolName" property="schoolName" />
		<result column="termId" property="termId" />
		<result column="termName" property="termName" />
		<result column="creator" property="creator"></result>
		<result column="createTime" property="createTime"></result>
		<collection property="examKinds" ofType="com.enableets.edu.pakage.framework.ppr.test.po.ExamKindInfoPO">
			<id column="examKindId" property="examKindId" />
			<result column="examId" property="examId" />
			<result column="examKindNo" property="kindNo" />
			<result column="examKindScore" property="score" />
			<result column="examKindDescription" property="description" />
			<collection property="examQuestionTypes" ofType="com.enableets.edu.pakage.framework.ppr.test.po.ExamQuestionTypeInfoPO">
				<id column="examQuestionTypeId" property="examQuestionTypeId" />
				<result column="examKindId" property="examKindId" />
				<result column="examQuestionTypeNo" property="questionTypeNo" />
				<result column="examQuestionTypeDescription" property="description" />
				<result column="examQuestionTypeScore" property="score" />
				<collection property="examQuestions" ofType="com.enableets.edu.pakage.framework.ppr.test.po.ExamQuestionInfoPO">
					<id column="examQuestionId" property="examQuestionId" />
					<result column="examQuestionTypeId" property="examQuestionTypeId" />
					<result column="examQuestionNo" property="questionNo" />
					<result column="examQuestionOrder" property="questionOrder" />
					<result column="examQuestionScore" property="score" />
					<result column="questionId" property="questionId" />
					<collection property="examQuestionChildren" ofType="com.enableets.edu.pakage.framework.ppr.test.po.ExamQuestionChildInfoPO">
						<id column="examQuestionChildId" property="examQuestionChildId" />
						<result column="examQuestionId" property="examQuestionId" />
						<result column="examQuestionChildNo" property="questionChildNo" />
						<result column="examQuestionChildScore" property="score" />
						<result column="questionChildId" property="questionChildId" />
					</collection>
				</collection>
			</collection>
		</collection>
	</resultMap>


	<!-- 题目信息数据 -->
	<sql id="select_question_clause">
		select
		q.question_id as questionId,
		q.school_code as schoolCode,
		q.school_name as schoolName,
		q.term_code as termCode,
		q.term_name as termName,
		q.parent_id as parentId,
		q.subject_id as subjectId,
		q.subject_name as subjectName,
		q.grade_id as gradeId,
		q.grade_name as gradeName,
		q.question_type_id as questionTypeId,
		q.question_difficulty as questionDifficulty,
		q.ability_id as abilityId,
		q.estimate_time as estimateTime,
		q.score as score,
		q.question_content as questionContent,
		q.question_content_no_html as questionContentNoHtml,
		q.answer as answer,
		q.answer_content as answerContent,
		q.answer_analyse as answerAnalyse,
		q.publisher as publisher,
		q.affix_id as affixId,
		q.question_kind as questionKind,
		q.question_no as questionNo,
		q.question_child_order as 'order',
		q.listen as listen,
		q.content_id as contentId,
		tak.knowledge_id as knowledgeId,
		tak.knowledge_name as knowledgeName,
		tak.material_version as materialVersionId,
		tak.search_code AS searchCode,
		t7.option_id as optionId,
		t7.option_content as optionContent,
		t7.option_order as optionOrder,
		t7.option_score as optionScore,
		t7.option_title as optionTitle
	</sql>

	<!-- 根据试卷标识查询所有题目信息 -->
	<select id="getExamQuestions" parameterType="java.lang.String" resultMap="questionInfo">
		<include refid="select_question_clause"/>
		FROM exam_info t1,exam_kind_info t2,exam_question_type_info t3,exam_question_info t4,question_info q
		left join question_knowledge_info tak ON q.question_id = tak.question_id
		left join question_option_info t7 ON q.question_id = t7.question_id
		where t1.exam_id = t2.exam_id and t2.exam_kind_id = t3.exam_kind_id and t3.exam_question_type_id = t4.exam_question_type_id and t4.question_id = q.question_id
		<if test="examId != null and examId != ''">
			and t1.exam_id = #{examId}
		</if>
		<if test="contentId != null and contentId != ''">
			and t1.content_id = #{contentId}
			and t1.del_status = '0'
		</if>
		union all
		<include refid="select_question_clause"/>
		FROM exam_info t1,exam_kind_info t2,exam_question_type_info t3,exam_question_info t4,exam_question_child_info t5,question_info q
		left join question_knowledge_info tak ON q.question_id = tak.question_id
		left join question_option_info t6 on q.question_id = t6.question_id
		left join question_option_info t7 ON q.question_id = t7.question_id
		where t1.exam_id = t2.exam_id and t2.exam_kind_id = t3.exam_kind_id and t3.exam_question_type_id = t4.exam_question_type_id and t4.exam_question_id = t5.exam_question_id and t5.question_child_id = q.question_id
		<if test="examId != null and examId != ''">
			and t1.exam_id = #{examId}
		</if>
		<if test="contentId != null and contentId != ''">
			and t1.content_id = #{contentId}
			and t1.del_status = '0'
		</if>
	</select>

	<!-- 题目信息查询结果映射对象 -->
	<resultMap type="com.enableets.edu.pakage.framework.ppr.test.po.QuestionInfoPO" id="questionInfo">
		<id column="questionId" property="questionId" />
		<result column="schoolCode" property="schoolCode" />
		<result column="schoolName" property="schoolName" />
		<result column="termCode" property="termCode" />
		<result column="termName" property="termName" />
		<result column="parentId" property="parentId" />
		<result column="subjectId" property="subjectId" />
		<result column="subjectName" property="subjectName" />
		<result column="gradeId" property="gradeId" />
		<result column="gradeName" property="gradeName" />
		<result column="questionTypeId" property="questionTypeId" />
		<result column="questionDifficulty" property="questionDifficulty" />
		<result column="abilityId" property="abilityId" />
		<result column="score" property="score" />
		<result column="source" property="source" />
		<result column="questionContent" property="questionContent" />
		<result column="questionContentNoHtml" property="questionContentNoHtml" />
		<result column="estimateTime" property="estimateTime"></result>
		<result column="answer" property="answer" />
		<result column="answerContent" property="answerContent" />
		<result column="answerAnalyse" property="answerAnalyse" />
		<result column="optionCount" property="optionCount" />
		<result column="childCount" property="childCount" />
		<result column="publisher" property="publisher" />
		<result column="affixId" property="affixId" />
		<result column="delStatus" property="delStatus" />
		<result column="questionKind" property="questionKind" />
		<result column="questionNo" property="questionNo" />
		<result column="listen" property="listen" />
		<result column="contentId" property="contentId" />
		<collection property="knowledges" ofType="com.enableets.edu.pakage.framework.ppr.test.po.QuestionKnowledgeInfoPO">
			<result column="knowledgeId" property="knowledgeId" />
			<result column="knowledgeName" property="knowledgeName" />
			<result column="searchCode" property="searchCode"/>
			<result column="materialVersionId" property="materialVersion"/>
		</collection>
		<collection property="options" ofType="com.enableets.edu.pakage.framework.ppr.test.po.QuestionOptionInfoPO">
			<id column="optionId" property="optionId" />
			<result column="optionContent" property="optionContent" />
			<result column="optionOrder" property="optionOrder" />
			<result column="optionScore" property="optionScore" />
			<result column="optionTitle" property="optionTitle" />
		</collection>
	</resultMap>
</mapper>
