<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enableets.edu.pakage.framework.ppr.test.dao.TestUserInfoDAO">

	<select id="queryAnswer" parameterType="Map" resultMap="answerMap">
		SELECT
			t1.test_user_id AS testUserId,
			t1.activity_id as activityId,
			t1.class_id AS classId,
			t6.group_id AS groupId,
			t6.group_name AS groupName,
			t1.user_id AS userId,
			t1.user_name AS userName,
			t1.test_id AS testId,
			t1.user_score AS userScore,
			t1.create_time AS createTime,
			t1.start_answer_time AS startAnswerTime,
			t1.end_answer_time as endAnswerTime,
			t1.answer_cost_time AS answerCostTime,
			t5.score,
			t4.test_id AS testId,
			t4.test_name AS testName,

			t2.answer_id AS answerId,
			t2.exam_id AS examId,
			t2.question_id AS questionId,
			REPLACE(REPLACE(REPLACE(IFNULL(t2.user_answer, ''),'["',''), '"]', ''), '","', ',') AS userAnswer,
			t2.answer_score AS answerScore,
			t2.answer_status AS answerStatus,
			t2.mark_status AS markStatus,
			t2.question_score AS questionScore,

			t3.canvas_id AS canvasId,
			t3.canvas_type AS canvasType,
			t3.canvas_answer_type AS canvasAnswerType,
			t3.canvas_order AS canvasOrder,
			t3.file_id AS fileId,
			t3.file_name AS fileName,
			t3.content_id AS contentId,
			t3.url,
			t7.file_id AS sourceFileId
		FROM
			test_info t4
		INNER JOIN exam_info t5 ON t4.exam_id = t5.exam_id
		RIGHT JOIN test_user_info t1 ON t1.test_id = t4.test_id and t1.del_status = 0
		LEFT JOIN test_recipient_info t6 ON t1.test_id = t6.test_id and t1.user_id = t6.user_id
		LEFT JOIN user_answer_info t2 ON t1.test_user_id = t2.test_user_id and t4.test_id = t2.test_id
		LEFT JOIN user_answer_canvas_info t3 ON t2.answer_id = t3.answer_id and t3.canvas_type = '1'
		LEFT JOIN user_answer_canvas_info t7 ON t2.answer_id = t7.answer_id and t7.canvas_type = '0' and t7.canvas_order = t3.canvas_order
		<where>
			<if test="testId != null and testId != ''">
				and t4.test_id = #{testId}
			</if>
			<if test="examId != null and examId != ''">
				and t4.exam_id = #{examId}
			</if>
			<if test="stepId != null and stepId != ''">
				and t4.step_id = #{stepId}
			</if>
			<if test="fileId != null and fileId != ''">
				and t4.file_id = #{fileId}
			</if>
			<if test="userId != null and userId != ''">
				and t1.user_id = #{userId}
			</if>
			<if test="groups != null and groups.size() > 0">
				and (t6.group_id in
				<foreach collection="groups" open="(" separator="," close=")" item="item">
					#{item}
				</foreach>
				or t6.class_id in
				<foreach collection="groups" open="(" separator="," close=")" item="item">
					#{item}
				</foreach>
				)
			</if>
			<if test="questions != null and questions.size() > 0">
				and t2.parent_id in
				<foreach collection="questionIds" open="(" separator="," close=")" item="item">
					#{item}
				</foreach>
			</if>
		</where>
	</select>

	<select id="getByTestId" parameterType="String" resultType="com.enableets.edu.pakage.framework.ppr.test.po.TestUserInfoPO">
		SELECT
			b.test_user_id AS testUserId,
			b.activity_id AS activityId,
			b.class_id AS classId,
			b.group_id AS groupId,
			b.group_name AS groupName,
			b.user_id AS userId,
			b.user_name AS userName,
			b.test_id AS testId,
			b.answer_cost_time AS answerCostTime,
			b.user_score AS userScore,
			b.create_time AS createTime,
			b.start_answer_time AS startAnswerTime,
			b.end_answer_time AS endAnswerTime,
			b.mark_status AS markStatus
		FROM
			test_user_info b
		WHERE
			b.test_id = #{testId} and b.del_status = 0
	</select>

	<select id="selectByIds" parameterType="java.util.List" resultType="com.enableets.edu.pakage.framework.ppr.test.po.TestUserInfoPO">
		SELECT
			b.test_user_id AS testUserId,
			b.activity_id AS activityId,
			b.class_id AS classId,
			b.group_id AS groupId,
			b.group_name AS groupName,
			b.user_id AS userId,
			b.user_name AS userName,
			b.test_id AS testId,
			b.answer_cost_time AS answerCostTime,
			b.user_score AS userScore,
			b.create_time AS createTime,
			b.start_answer_time AS startAnswerTime,
			b.end_answer_time AS endAnswerTime,
			b.mark_status AS markStatus
		FROM
			test_user_info b
		WHERE
			b.test_user_id in
		<foreach collection="list" separator="," open="(" close=")" item="item">
			#{item}
		</foreach>
	</select>

	<update id="completeMark" parameterType="java.util.List">
		update test_user_info a,
			(select test_user_id, IFNULL(SUM(IFNULL(answer_score,0)), 0) as score
			 from user_answer_info
			 WHERE test_user_id in
			  <foreach collection="list" separator="," open="(" close=")" item="item">
				  #{item}
			  </foreach>
			) tmp,test_info ti
		set a.user_score = tmp.score, a.mark_status='1', a.update_time=now(),ti.mark_status='1', ti.update_time=now()
		WHERE a.test_user_id = tmp.test_user_id and a.test_id = ti.test_id
	</update>

	<update id="recalculateTotalScore" parameterType="java.util.List">
		update test_user_info a,
			(select test_user_id, IFNULL(SUM(IFNULL(answer_score,0)), 0) as score
			 from user_answer_info
			 WHERE test_user_id in
			   <foreach collection="list" separator="," open="(" close=")" item="item">
				   #{item}
			   </foreach>
			 ) tmp
		set a.user_score = tmp.score, update_time=now()
		WHERE a.test_user_id = tmp.test_user_id
	</update>

	<update id="removePrevSubmit" parameterType="java.lang.String">
		update test_user_info set del_status = 1 where test_id = #{testId} and user_id = #{userId}
	</update>

	<update id="completeMark2" parameterType="java.lang.String">
        UPDATE test_user_info t1
            JOIN (
                SELECT
                    t4.test_user_id,
                    IFNULL(SUM(IFNULL(t3.answer_score, 0)),0) AS score
                FROM
                    (
                        SELECT
							test_user_id
                        FROM
                            test_user_info
                        WHERE
                            test_id = #{testId} and del_status = 0
                        <if test="userId != null and userId != ''">
                            AND user_id = #{userId}
                        </if>
                        GROUP BY
                            user_id
                    ) t4,
                    user_answer_info t3
                WHERE
                    t4.test_user_id = t3.test_user_id
            ) t2 ON t1.test_user_id = t2.test_user_id
        SET t1.mark_status = '1', t1.user_score = t2.score, t1.update_time = now()
    </update>

	<resultMap type="com.enableets.edu.pakage.framework.ppr.test.po.TestUserInfoPO" id="answerMap">
		<id column="testUserId" property="testUserId"/>
		<result column="activityId" property="activityId"/>
		<result column="classId" property="classId"/>
		<result column="schoolId" property="schoolId"/>
		<result column="schoolName" property="schoolName"/>
		<result column="groupId" property="groupId"/>
		<result column="groupName" property="groupName"/>
		<result column="gradeId" property="gradeId"/>
		<result column="gradeName" property="gradeName"/>
		<result column="userId" property="userId"/>
		<result column="userName" property="userName"/>
		<result column="testId" property="testId"/>
		<result column="testName" property="testName"/>
		<result column="userScore" property="userScore"/>
		<result column="createTime" property="createTime"/>
		<result column="startAnswerTime" property="startAnswerTime"/>
		<result column="endAnswerTime" property="endAnswerTime"/>
		<result column="answerCostTime" property="answerCostTime"/>
		<result column="examId" property="examId"/>
		<result column="examName" property="examName"/>
		<result column="score" property="score"/>
		<result column="testId" property="testId"/>
		<result column="userMarkStatus" property="markStatus"/>
		<collection property="answers" ofType="com.enableets.edu.pakage.framework.ppr.test.po.UserAnswerInfoPO">
			<id column="answerId" property="answerId"/>
			<result column="examId" property="examId"/>
			<result column="questionId" property="questionId"/>
			<result column="parentId" property="parentId"/>
			<result column="userAnswer" property="userAnswer"/>
			<result column="answerScore" property="answerScore"/>
			<result column="answerStatus" property="answerStatus"/>
			<result column="markStatus" property="markStatus"/>
			<result column="questionScore" property="questionScore"/>
			<collection property="canvases" ofType="com.enableets.edu.pakage.framework.ppr.test.po.UserAnswerCanvasInfoPO">
				<id column="canvasId" property="canvasId"/>
				<result column="canvasType" property="canvasType"/>
				<result column="canvasAnswerType" property="canvasAnswerType"/>
				<result column="canvasOrder" property="canvasOrder"/>
				<result column="fileId" property="fileId"/>
				<result column="fileName" property="fileName"/>
				<result column="contentId" property="contentId"/>
				<result column="url" property="url"/>
				<result column="sourceFileId" property="sourceFileId"/>
			</collection>
		</collection>
	</resultMap>
</mapper>
