<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enableets.edu.pakage.framework.ppr.test.dao.TestRecipientInfoDAO">

	<select id="get" parameterType="java.lang.String" resultType="com.enableets.edu.pakage.framework.ppr.test.po.TestRecipientInfoPO">
		select
			test_id AS testId,
			user_id AS userId,
			user_name AS userName,
		    school_id AS schoolId,
		    school_name AS schoolName,
		    term_id AS termId,
		    term_name AS termName,
		    grade_code AS gradeCode,
		    grade_name AS gradeName,
			class_id AS classId,
			class_name AS className,
			group_id AS groupId,
			group_name AS groupName
		from test_recipient_info
		<where>
			<if test="testId != null and testId != ''">
				test_id = #{testId}
			</if>
			<if test="userId != null and userId != ''">
				AND user_id = #{userId}
			</if>
			<if test="(testId == null or testId == '') and (userId == null or userId == '')">
				AND test_id = 'undefined'
			</if>
		</where>
	</select>

</mapper>
