<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enableets.edu.pakage.framework.ppr.test.dao.PackageUserAnswerInfoDAO">

	<select id="queryUserMarkQuestion" parameterType="java.lang.String" resultType="com.enableets.edu.pakage.framework.ppr.test.po.UserAnswerInfoPO">
		SELECT
			t1.user_id AS userId,
			t1.parent_id AS questionId,
			if (SUM(t1.mark_status) = COUNT(1), '1', '0') AS markStatus
		FROM
			t_as_user_answer t1
		WHERE t1.test_id = #{testId} and t1.del_status = 0 GROUP BY t1.user_id, t1.parent_id

	</select>
</mapper>
