<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>ETS-School</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=yes" name="format-detection"/>
    <meta content="email=yes" name="format-detection"/>
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/global2.css(v=${_v})}" />
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/paper/baseStyle.css(v=${_v})}"/>
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/paper/style20190606.css(v=${_v})}"/>
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/paper/iconfont/iconfont.css(v=${_v})}"/>
    <link rel="stylesheet" th:href="${_contextPath} + @{/custom/package/ppr/css/jizhi.css(v=${_v})}" />
    <style type="text/css">
        .hidden{
            display: none;
        }
        .long_work{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .paper-table tr td.paper-l .lt_ .p_t tr td{
            border: 0px;
        }
        .p_t img{
            max-width: 50%;
        }
        .topic-page .asider-left .asider-head .select_c .l_02{
            line-height: 60px;
        }
        .topic-page .asider-left .asider-head:hover .condition-list {
            z-index: 5000 !important
        }
        .topic-page .asider-left {
            z-index: 5000 !important
        }
        [v-cloak] {
            display: none!important;
        }
        .layui-layer-tips .layui-layer-content{
            background-color: #1b92e2!important;
        }
        .layui-layer-tips i.layui-layer-TipsB{
            border-right-color: #1b92e2!important;
        }
        .topic-page .asider-left .asider-head .condition-list {overflow-y: auto;}
        .topic-page .asider-left .asider-head .condition-list .c-box02 {min-height: 50px;}
        p .stem.question_blank_image_area {
            margin: 0px 5px -5px 2px !important;
        }
    </style>
    <script th:src="${_contextPath} + @{/comm/plugins/jQuery/jquery-3.0.0.min.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/layer/layer.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/vue-2.5.21/vue.min.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/paging/page.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{|/comm/plugins/paging/lang/${_locale}.js|(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/Constants.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/CommUtils.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/paper/jzStageSubject.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/question/questionDragDrop.js(v=${_v})}"></script>
</head>
<body class="bgC_">
<div class="topic-page" id="paper_list" v-cloak="">
    <div class="head_02">
        <div class="h_tp">
            <a class="c_" v-for="providerItem in providers" v-bind:class="providerCode == providerItem.code ? 'active' : ''" href="javascript:;" v-bind:code="providerItem.code" v-on:click="changeProvider">{{providerItem.name}}</a>
            <a class="c_" th:if="${_cloudResourceEnable}" v-bind:class="providerCode == 'R04'? 'active' : ''" href="javascript:;" code="R04" v-on:click="changeProvider" th:text="#{UI_70_01_02_058}">真题试卷</a>
            <div class="paper-cart afterClearfix">
                <span class="cart-total-num" v-text="questionCount"></span>
                <div class="cart-total" th:inline="text">
                    <span class="cart-icon" id="shop-cart"><i class="cart_"></i></span>
                    <span class="cart-total-num2">[[#{UI_70_01_02_060}]]<b v-text="questionCount"></b>[[#{UI_70_01_02_061}]]</span>

                    <div class="cart-list">
                        <p v-if="questionCount == 0" class="tips_" th:text="#{MSG_70_01_01_020}">暂无试题，去加入试题吧！</p> <!--If there are no test questions, this prompt is displayed-->
                        <p v-for="selectQuestion in selectQuestions" v-if="selectQuestion.questions.length > 0" class="c_l">{{selectQuestion.typeName}}: <b>{{selectQuestion.questions.length}}</b>题<i class="i_remove" v-on:click="emptyQuestionMarket(selectQuestion.typeCode)"></i></p>
                        <span class="empty_btn" v-on:click="emptyQuestionMarket('')" th:text="#{UI_70_01_01_040}">清空全部</span>
                    </div>
                </div>
                <span class="btn-sure" th:text="#{UI_70_00_008}" v-on:click="completeChooseQuestion">确 定</span>
            </div>
        </div>
        <div class="h_bt" th:inline="text">
            <div class="search-box"><input type="search" th:placeholder="#{UI_70_01_02_059}" v-model="keyword" /><span class="search-btn" v-on:click="doQuery"></span></div>
            <span class="tips_">[[#{UI_70_01_02_060}]]<b v-text="count">0</b>[[#{UI_70_01_02_062}]] </span>
            <span class="tips_" th:text="#{MSG_70_01_02_020}">提示：点击列表进入试卷详情页选题</span>
        </div>
    </div>
    <div class="asider-left">
        <div class="asider-head">
            <span class="select_c">
						<p class="l_01" v-show="selectedConditions.length == 0" th:text="#{MSG_70_01_02_019}">请选择筛选条件</p><!--未选择之前展示-->
						<p class="l_02" v-show="selectedConditions.length > 0" v-text="selectedConditions.join('')"></p>
					</span><i class="arrow_right"></i>
            <ul class="condition-list" v-if="providerCode != 'R04'">
                <li class="c-box02"><label class="c_l" th:text="#{UI_70_00_001}">学段</label>
                    <b class="c_btn" code="" v-bind:class="stageCode == null || stageCode == '' ? 'active' : ''" v-on:click="changeStage" th:text="#{UI_70_00_004}">不限</b>
                    <b v-for="stage in stageGradeSubjects.stages" v-bind:code="stage.stageCode" class="c_btn" v-text="stage.stageName" v-bind:class="stage.stageCode == stageCode ? 'active' : ''" v-on:click="changeStage">幼儿园</b>
                </li>
                <li class="c-box02"><label class="c_l" th:text="#{UI_70_00_002}">年级</label>
                    <b class="c_btn" code="" v-bind:class="gradeCode == null || gradeCode == '' ? 'active' : ''" v-on:click="changeGrade" th:text="#{UI_70_00_004}">不限</b>
                    <b class="c_btn" v-for="grade in filterGradeList" v-bind:code="grade.gradeCode" v-bind:class="grade.gradeCode == gradeCode ? 'active' : ''" v-text="grade.gradeName" v-on:click="changeGrade">七年级</b>
                </li>
                <li class="c-box02"><label class="c_l" th:text="#{UI_70_00_003}">学科</label>
                    <b class="c_btn" code="" v-bind:class="subjectCode == null || subjectCode == '' ? 'active' : ''" v-on:click="changeSubject" th:text="#{UI_70_00_004}">不限</b>
                    <b class="c_btn" v-for="subject in filterSubjectList" v-bind:code="subject.subjectCode" v-bind:class="subject.subjectCode == subjectCode ? 'active' : ''" v-text="subject.subjectName" v-on:click="changeSubject">语文</b>
                </li>
                <li class="c-box02"><label class="c_l" th:text="#{UI_70_00_011}">教材版本</label>
                    <b class="c_btn" code="" v-bind:class="materialVersion == null || materialVersion == ''? 'active' : ''" v-on:click="changeMaterialVersion" th:text="#{UI_70_00_004}">不限</b>
                    <b class="c_btn" v-if="materialVersions != null" v-for="mv in materialVersions" v-bind:class="materialVersion == mv.code ? 'active' : ''" v-bind:code="mv.code" v-text="mv.name" v-on:click="changeMaterialVersion">人教版</b>
                </li>
            </ul>
            <ul class="condition-list" v-if="providerCode == 'R04'">
                <li class="c-box02"><label class="c_l" th:text="#{UI_70_00_001}">学段</label>
                    <b v-for="(value, key, index) in jzStage" v-bind:code="key" class="c_btn" v-text="value" v-bind:class="key == stageCode ? 'active' : ''" v-on:click="changeStage">幼儿园</b>
                </li>
                <li class="c-box02"><label class="c_l" th:text="#{UI_70_00_003}">学科</label>
                    <b class="c_btn" v-for="(value, key, index) in jzSubject" v-bind:code="key" v-bind:class="key == subjectCode ? 'active' : ''" v-text="value" v-on:click="changeSubject">语文</b>
                </li>
            </ul>
        </div>
        <div class="asider-scroll">
            <div class="box_auto">
                <div class="textCenter">
                    <img th:if="${_locale} != 'zh_TW'" th:src="${_contextPath} + @{/custom/package/ppr/css/paper/img/nodata_tips.png}"/>
                    <img th:if="${_locale} == 'zh_TW'" th:src="${_contextPath} + @{/custom/package/ppr/css/paper/img/nodata_tips_tw.png}"/>
                </div>
                <div class="title_ hidden" >
                    <i class="mulv"></i><b>七年期語文人教版</b>
                </div>
                <div class="w01_">
                    <!--<p>1</p>-->
                </div>
            </div>
        </div>
    </div>
    <div class="content_">
        <table class="paper-table paper-l01" id="paper-topic">
            <tr v-if="papers.length &gt; 0" v-for="paper in papers" v-on:click="paperClick(paper, event)">
                <td width="60px">
                    <img th:if="${_locale} != 'zh_TW'" th:src="${_contextPath} + @{/custom/package/ppr/css/paper/img/paper1.png}"/>
                    <img th:if="${_locale} == 'zh_TW'" th:src="${_contextPath} + @{/custom/package/ppr/css/paper/img/paper1_tw.png}"/>
                </td>
                <td><p class="title_03" v-text="paper.name"></p>
                    <ul class="tag_01" th:inline="text">
                        <li class="l_">[[#{UI_70_01_02_063}]]：[[#{UI_70_01_02_064}]]</li><li class="l_" >[[#{UI_70_01_02_065}]]：<span v-text="paper.user != null ? paper.user.name : ''"></span></li>
                        <li class="l_">[[#{UI_70_01_02_066}]]： {{paper.createTime}}</li>
                    </ul>
                </td>
            </tr>

            <tr v-if="papers.length == 0">
                <td width="60px"></td>
                <td><p class="title_03" style="text-align: center; color: red;" th:text="#{MSG_70_01_02_024}">未查询到试卷信息!</p> </td>
            </tr>

        </table>
        <div class="page_box">
            <ul class="pageOne" maxshowpageitem="5" pagelistcount="10" id="pageOne">
            </ul>
        </div>
    </div>

</div>

<div id="paper_questions" class="hidden">

</div>

<script type="text/javascript" th:inline="javascript">
    //<![CDATA[
    if (window.i18n == undefined){
        window.i18n = {};
    }
    $.extend(window.i18n, {
        "add_to_paper" : [[#{UI_70_01_02_072}]],
        "remove_from_paper" : [[#{UI_70_01_02_073}]],
        "all_has_added_to_paper" : [[#{MSG_70_01_02_023}]],
        "analyze_paper" : [[#{UI_70_01_02_074}]], // 解析试卷中...
    });
    function initSelectedConditions(){
        let arr = new Array();
        if (!CommUtils.isEmpty([[${condition.stageName}]])){
            arr[0] = [[${condition.stageName}]];
        }
        if (!CommUtils.isEmpty([[${condition.gradeName}]])){
            arr[1] = [[${condition.gradeName}]];
        }
        if (!CommUtils.isEmpty([[${condition.subjectName}]])){
            arr[2] = [[${condition.subjectName}]];
        }
        return arr;
    }

    function resizeConditionAreaHeight() {
        $('.topic-page .asider-left .asider-head .condition-list').css('max-height',  $('.topic-page .asider-left').height() + 'px');
    }

    let PaperListVue = null;
    $(function(){

        let paperList = {
            providers : [{'code' : 'R00', 'name' : [[#{UI_70_01_02_055}]]}, {'code' : 'R02', 'name' : [[#{UI_70_01_02_057}]]}, {'code' : 'R01', 'name' : [[#{UI_70_01_02_056}]]}],
            papers : {},
            count : 0,
            questionCount : 0,
            selectQuestions : parent.getPaperQuestions(),
            pageNo : 1,
            paperListUrl : [[${_contextPath} + @{'/ppr/query'}]],
            paperCountUrl : [[${_contextPath} + @{'/ppr/count'}]],
            viewPaperUrl : [[${_contextPath} + @{'/ppr/question/view'}]],
            queryMaterialVersionsUrl : [[${_contextPath} + @{/ppr/condition/materialversion/query}]],
            providerCode : "R00",
            stageGradeSubjects : [[${stageGradeSubjects}]],
            stageCode : [[${condition.stageCode}]],
            gradeCode : [[${condition.gradeCode}]],
            subjectCode : [[${condition.subjectCode}]],
            materialVersion : [[${condition.materialVersion}]],
            materialVersions : {},
            selectedConditions : initSelectedConditions(),
            keyword : "",
            jzStage : cloud_zt_stage,
            jzSubject : cloud_zt_subject,
            userId : [[${condition.userId}]]
        };
        PaperListVue = new Vue({
            el: "#paper_list",
            data: paperList,
            created: function () {
                this.doQuery();
                if (!this.isEmpty(this.gradeCode) && !this.isEmpty(this.subjectCode)){
                    this.loadMaterialVersion();
                }
            },
            computed : {
                filterGradeList : function(){
                    return this.filterCondition(this.stageGradeSubjects.grades, this.stageCode);
                },
                filterSubjectList : function(){
                    return this.filterCondition(this.stageGradeSubjects.subjects, this.gradeCode);
                },
                filterSelectedCondition : function(){
                    if (this.selectedConditions.length == 0) return null;
                    else{
                        return this.selectedConditions.join("");
                    }
                }
            },
            filters: {
                formatDate: function(time) {
                    if(time!=null&&time!="")
                    {
                        let date = new Date(time);
                        let fmt = "yyyy-MM-dd"
                        if (/(y+)/.test(fmt)) {
                            fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length));
                        }
                        let o = {
                            'M+': date.getMonth() + 1,
                            'd+': date.getDate(),
                            'h+': date.getHours(),
                            'm+': date.getMinutes(),
                            's+': date.getSeconds()
                        };
                        for (let k in o) {
                            if (new RegExp(`(${k})`).test(fmt)) {
                                let str = o[k] + '';
                                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? str : ('00' + str).substr(str.length));
                            }
                        }
                        return fmt;
                    }else{
                        return "";
                    }
                }
            },
            mounted() {
                this.initQuestionMarket();
                resizeConditionAreaHeight();
                $(window).on('resize', resizeConditionAreaHeight);
            },
            methods: {
                filterCondition : function(obj, code){
                    let _this = this;
                    if (this.isEmpty(code)) {
                        return [];
                    }
                    var result = [];
                    obj.forEach(function(item, i){
                        if (!_this.isEmpty(item.stageCode) && item.stageCode == code) {
                            result.push(item);
                        }
                        if (!_this.isEmpty(item.gradeCode) && item.gradeCode == code) {
                            result.push(item);
                        }
                    });
                    return result;
                },
                isEmpty : function(str){
                    return str == undefined || str == null || str.trim() == '';
                },
                initQuestionMarket: function () {
                    let _this = this;
                    _this.questionCount = 0;
                    if (this.selectQuestions == null) return;
                    $.each(_this.selectQuestions, function (index, obj) {
                        _this.questionCount += obj.questions.length;
                    });
                },
                doQuery: function () {
                    let _this = this;
                    let param = {
                        "providerCode": this.providerCode,
                        "stageCode" : this.stageCode,
                        "gradeCode" : this.gradeCode,
                        "subjectCode" : this.subjectCode,
                        "materialVersion" : this.materialVersion,
                        "examName" : this.keyword,
                        "usageCode" : "assessment",
                        // : this.userId,
                        "offset": (this.pageNo - 1) * 10,
                        "rows": 10
                    };
                    let index = layer.load(3, {
                        shade: [0.2,'#000'],
                        zIndex:30
                    });
                    this.turnPage(param);
                    $.post(this.paperListUrl, param, function (data) {
                        _this.papers = data.data;
                    }, "json").done(function () {
                        layer.close(index);
                    }).fail(function () {
                        layer.close(index);
                    });
                },
                turnPage : function(param){
                    let _this = this;
                    $.post(_this.paperCountUrl, param, function(result){
                        _this.count = result.data;
                        $("#pageOne").initPage(_this.count, _this.pageNo, function(pageNum) {//1、所有数据条数（自动每页十条）2、初次加载显示的页数 3、所执行函数
                            _this.pageNo = pageNum;
                            _this.doQuery();
                        });
                    });
                },
                paperClick : function(paper, event){
                    var url = this.viewPaperUrl;
                    $("#paper_list").addClass("hidden");
                    if (this.providerCode === "R04") {
                        url += "?ztPaperId=" + paper.providerContentId;
                    } else {
                        url += "?paperId=" + paper.paperId;
                    }

                    var index = CommUtils.showLoad(i18n['analyze_paper']);
                    $("#paper_questions").empty().removeClass("hidden").load(url, function () {
                        layer.close(index);
                    });
                    event.stopImmediatePropagation();
                },
                changeProvider : function(event){
                    let $this = $(event.target);
                    if (this.providerCode == 'R04' || $this.attr("code") == 'R04'){  //切换到真题以及从真题切换到其它类，条件需要初始化
                        this.emptyConditions();
                    }
                    this.providerCode = $this.attr("code");
                },
                changeStage : function(event){
                    let $this = $(event.target);
                    if (this.stageCode == $this.attr("code")) return;
                    this.emptyConditions();
                    this.stageCode = $this.attr("code");
                    if (!this.isEmpty(this.stageCode))
                        this.selectedConditions[0] = $this.text();
                    this.pageNo = 1;
                    this.doQuery();
                },
                changeGrade : function(event){
                    let $this = $(event.target);
                    if (this.gradeCode == $this.attr("code")) return;
                    this.gradeCode =  $this.attr("code");
                    this.selectedConditions[2] = this.subjectCode = '';
                    this.selectedConditions[3] = this.materialVersion = '';
                    this.materialVersions = {};
                    this.selectedConditions[1]= this.isEmpty(this.gradeCode) ? null : $this.text();
                    this.pageNo = 1;
                    this.doQuery();
                },
                changeSubject : function(event){
                    let $this = $(event.target);
                    if (this.subjectCode == $this.attr("code")) return;
                    this.subjectCode =  $this.attr("code");
                    this.selectedConditions[3] = this.materialVersion = '';
                    this.materialVersions = {};
                    if (!this.isEmpty(this.subjectCode)) {
                        this.loadMaterialVersion();
                    }
                    this.selectedConditions[2]= this.isEmpty(this.subjectCode) ? null : $this.text();
                    this.pageNo = 1;
                    this.doQuery();
                },
                loadMaterialVersion : function(){
                    let _this = this;
                    if (_this.providerCode !== 'R04') {
                        $.post(_this.queryMaterialVersionsUrl,{gradeCode : _this.gradeCode, subjectCode : _this.subjectCode} , function(data){
                            _this.materialVersions = data.data;
                        });
                    }
                },
                changeMaterialVersion : function(){
                    let $this = $(event.target);
                    this.materialVersion = $this.attr("code");
                    this.selectedConditions[3] = this.isEmpty(this.materialVersion) ? null : $this.text();
                    this.pageNo = 1;
                    this.doQuery();
                },
                emptyQuestionMarket : function(type){
                    this.selectQuestions.forEach(function(item, i){
                        if (type == "" || item.typeCode == type) item.questions = [];
                    });
                    this.initQuestionMarket();
                },
                emptyConditions : function(){
                    this.stageCode = '';
                    this.gradeCode = '';
                    this.subjectCode = '';
                    this.materialVersion = '';
                    this.materialVersions = {};
                    this.selectedConditions = [];
                },
                completeChooseQuestion : function(){
                    parent.postMessage({"type" : "chooseQuestion", "data" : this.selectQuestions}, "*");
                    let index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            },
            watch:{
                keyword : function(newK, oldK){
                    if (this.isEmpty(newK)){
                        this.pageNo = 1;
                        this.doQuery();
                    }
                },
                providerCode : function(newCode, oldCode){
                    let _this = this;
                    if (newCode == "R04"){
                        $.each(_this.jzStage, function(key,value){
                            _this.stageCode = key;
                            _this.selectedConditions[0] = _this.jzStage[key];
                            return false;
                        });
                        $.each(_this.jzSubject, function(key, value){
                            _this.subjectCode = key;
                            _this.selectedConditions[2] = _this.jzSubject[key];
                            return false;
                        });
                    }
                    _this.pageNo = 1;
                    _this.doQuery();
                }
            }
        });
    });

    //]]>
</script>
</body>
</html>
