<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>ETS-School</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=yes" name="format-detection"/>
    <meta content="email=yes" name="format-detection"/>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/paper/baseStyle.css(v=${_v})}"/>
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/paper/style20190606.css(v=${_v})}"/>
    <link rel="stylesheet" th:href="${_contextPath} + @{/comm/plugins/ztree/css/zTreeStyle/zTreeStyle.css(v=${_v})}" />
    <link rel="stylesheet" th:href="${_contextPath} + @{/custom/package/ppr/css/jizhi.css(v=${_v})}" />
    <link rel="stylesheet" type="text/css" th:href="${_contextPath} + @{/custom/package/ppr/css/global2.css(v=${_v})}" />
    <style type="text/css">
        .hidden{
            display: none;
        }
        .paper-table .no-question {
            height: 75px;
        }
        .long_work{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .paper-table tr td.paper-l .lt_ .p_t tr td{
            border: 0px;
        }
        .p_t img{
            max-width: 50%;
        }
        .select_op {
            position: relative;
            height: 30px;
            top: -1px;
            float: left;
            left: -1px;
            border-right: 0px;
        }
        .topic-page .asider-left .asider-head:hover .condition-list {
            z-index: 5000 !important
        }
        .topic-page .asider-left {
            z-index: 5000 !important
        }
        .paper-table .question .paper-l .lt_ .p_c span {
            display: inline-block;
        }
        .topic-page .asider-left .asider-head .condition-list {overflow-y: auto;}
        .topic-page .asider-left .asider-head .condition-list .c-box02 {min-height: 50px;}
        .paper-table tr td.paper-l {
            word-break: break-all;
        }
        p .stem.question_blank_image_area {
            margin: 0px 5px -5px 2px !important;
        }
        .page_box{
            position: fixed;
            top: 95%;
            left: 40%;
        }
        .page_box .pageOne .pageItem{
            background-color: #fff;!important;
        }
    </style>
    <script th:src="${_contextPath} + @{/comm/plugins/jQuery/jquery-3.0.0.min.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/layer/layer.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/vue-2.5.21/vue.min.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/js/BaseUtils.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/Constants.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/CommUtils.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/paper/withChapter.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/ztree/js/jquery.ztree.core.min.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/comm/plugins/paging/page.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{|/comm/plugins/paging/lang/${_locale}.js|(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/paper/cloudBaseCondition.js(v=${_v})}"></script>
    <script type="text/javascript" th:src="${_contextPath} + @{/custom/package/ppr/js/question/questionDragDrop.js(v=${_v})}"></script>
</head>
<body class="bgC_">
<div class="topic-page">
    <div id="search_condition">
        <search-condition-counter
        v-bind:searchdata="parentSearchData"
        v-bind:condition="parentCondition"
        v-bind:parent_this="parent"
        ></search-condition-counter>
    </div>

    <!-- Data list -->
    <div class="content_" id="result_table">
        <table class="paper-table"  v-if="parentQuestionList.length > 0">
            <tr is="result-table-counter"
            v-for="questionItem in parentQuestionList"
            v-bind:key="questionItem.questionId"
            v-bind:question="questionItem"
            v-bind:parent_this="parent"
            ></tr>
        </table>
        <table class="paper-table" id="noQuestion" style="display: none">
            <tr class="no-question">
                <td class="paper-l">
                    <p class="title_03" style="text-align: center; color: red;" th:text="#{MSG_70_01_02_026}">未查询到题目信息!</p>
                </td>
            </tr>
        </table>
        <div class="page_box">
            <ul class="pageOne" maxshowpageitem="5" pagelistcount="10" id="pageOne">
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    if (window.i18n == undefined) {
        window.i18n = {};
    }
    $.extend(i18n,{
        'no_limit':[[#{UI_70_00_004}]],
        'cloud_question_repository':[[#{UI_70_01_02_098}]],
        'please_select_filter': [[#{UI_70_01_02_025}]],
        'please_select_materialVersion': [[#{UI_70_01_02_026}]],
        'please_input_question_text': [[#{UI_70_01_02_028}]],
        'please_input_question_no': [[#{UI_70_01_02_029}]],
        'zk_knowledge_name': [[#{UI_70_01_02_030}]],
        'switch_question_not_type': [[#{UI_70_01_02_031}]],
    });
    var ChapterChooseQuestion = window.ChapterChooseQuestion = {};
    ChapterChooseQuestion.i18n = i18n;
    ChapterChooseQuestion.providers = [{"code":"R00", "name":[[#{UI_70_01_02_084}]]}, {"code":"R02", "name":[[#{UI_70_01_02_086}]]}, {"code":"R01", "name":[[#{UI_70_01_02_085}]]}];
    ChapterChooseQuestion.difficultys = [[${difficultys}]];
    ChapterChooseQuestion.condition = [[${condition}]];
    ChapterChooseQuestion.stageGradeSubjects = [[${stageGradeSubjects}]];
    ChapterChooseQuestion.zkSubjects = zk_subjects;
    ChapterChooseQuestion.queryQuestionTypeUrl = [[${_contextPath} + @{/ppr/condition/question/type/query}]];
    ChapterChooseQuestion.queryAbilityUrl = [[${_contextPath} + @{/ppr/condition/question/ability/query}]];
    ChapterChooseQuestion.queryKnowledgeTree = [[${_contextPath} + @{/ppr/condition/knowledge/query}]];
    ChapterChooseQuestion.queryMaterailVersionUrl = [[${_contextPath} + @{/ppr/condition/materialversion/query}]];
    ChapterChooseQuestion.questionChooseUrl = [[${_contextPath} + @{/ppr/question/query}]];
    ChapterChooseQuestion.questionChooseCountUrl = [[${_contextPath} + @{/ppr/question/count}]];
    ChapterChooseQuestion.cloudResourceEnable = [[${_cloudResourceEnable}]];
    ChapterChooseQuestion.questionTypes = [[${questionTypes}]];
    ChapterChooseQuestion.questionMarkets = [[${questionMarkets}]];
</script>

<!-- Search criteria template -->
<script th:inline="javascript" type="text/x-template" id="search-condition-template">
    <div th:inline="text">
        <div class="head_02">
            <!-- Resource library type/test questions statistics added-->
            <div class="h_tp">
                <div v-if="provider.show">
                    <a class="c_" href="javascript:;"
                       v-for="providerItem in provider.list"
                       v-bind:class="{ active: providerItem.code === provider.activeCode}"
                       v-on:click="switchProvider(providerItem)"
                    >{{providerItem.name}}</a>
                </div>
                <div class="paper-cart afterClearfix">
                    <span class="cart-total-num">{{parent_this.questionCount}}</span>
                    <div class="cart-total">
                        <span class="cart-icon" id="shop-cart"><i class="cart_"></i></span>
                        <span class="cart-total-num2">[[#{UI_70_01_02_060}]]<b>{{parent_this.questionCount}}</b>[[#{UI_70_01_02_061}]]</span>
                        <div class="cart-list" >
                            <p v-for="selectQuestion in questionMarket.selectQuestions" v-if="selectQuestion.questions.length > 0" class="c_l">
                                {{selectQuestion.typeName}}: <b>{{selectQuestion.questions.length}}</b>[[#{UI_70_01_02_061}]]
                                <i class="i_remove" v-on:click="emptyQuestionMarket(selectQuestion)" v-if="parent_this.condition.questionSwitch !== 1"></i>
                            </p>
                            <p v-if="parent_this.questionCount == 0" class="tips_" th:text="#{MSG_70_01_02_022}">暂无试题，去加入试题吧！</p> <!--If there are no test questions, this prompt is displayed-->
                            <span v-if="parent_this.questionCount != 0 &amp;&amp; parent_this.condition.questionSwitch !== 1" class="empty_btn" v-on:click="emptyQuestionMarket('')" th:text="#{UI_70_01_02_071}" >清空全部</span>
                        </div>
                    </div>
                    <span class="btn-sure" th:text="#{UI_70_00_008}" v-on:click="completeChooseQuestion">确 定</span>
                </div>
            </div>
            <!-- Text search/search result statistics box-->
            <div class="h_bt" th:inline="text">
                <div class="search-box">
                    <select class="select_op" v-on:change="switchSearchType">
                        <option value="1" th:text="#{UI_70_01_02_087}">题干</option>
                        <option value="2" th:text="#{UI_70_01_02_075}">题号</option>
                    </select>
                    <label>
                        <input type="search" v-bind:placeholder="search.placeholder" v-model="search.text"
                               v-on:keyup.enter="textSearchClick"/>
                    </label>
                    <span class="search-btn" v-on:click="textSearchClick"></span>
                </div>
                <span class="add-paper-page" th:text="#{UI_70_01_02_069}" v-on:click="addAllToPaper" v-if="parent_this.condition.questionSwitch !== 1">+ 选择本页试题加入试卷</span>
                <span class="tips_">[[#{UI_70_01_02_060}]]<b v-text="search.count">0</b>[[#{UI_70_01_02_061}]]</span>
                <span class="tips_" th:text="#{UI_70_01_02_070}">提示：单击题面可显示答案和解析</span>
            </div>
        </div>
        <div class="asider-left">
            <!-- stage/grade/subject/materialVersion/question type/difficulty-->
            <div class="asider-head">
                <span class="select_c">

						<p class="l_02">{{textTitle.stageName}}{{textTitle.gradeName}}{{textTitle.subjectName}}</p>
						<p class="l_02">
                            <b th:text='#{UI_70_01_02_077}'>题型</b>：{{textTitle.questionTypeName}}&nbsp;&nbsp;&nbsp;&nbsp;
                            <b th:text="#{UI_70_01_02_088}">难易度</b>：{{textTitle.difficultyName}}</p>
					</span><i class="arrow_right"></i>
                <ul class="condition-list">
                    <li class="c-box02" v-if="stage.show">
                        <label class="c_l" th:text="#{UI_70_00_001}">学段</label>
                        <b class="c_btn" v-for="stageItem in stage.list"
                           v-bind:class="{ active: stageItem.stageCode === stage.activeCode}"
                           v-on:click="switchStage(stageItem)"
                        >
                            {{stageItem.stageName}}
                        </b>
                    </li>
                    <li class="c-box02" v-if="grade.show">
                        <label class="c_l" th:text="#{UI_70_00_002}">年级</label>
                        <b class="c_btn" v-for="gradeItem in grade.list"
                           v-bind:class="{ active: gradeItem.gradeCode === grade.activeCode}"
                           v-on:click="switchGrade(gradeItem)"
                        >
                            {{gradeItem.gradeName}}
                        </b>
                    </li>
                    <li class="c-box02" v-if="subject.show">
                        <label class="c_l" th:text="#{UI_70_00_003}">学科</label>
                        <b class="c_btn" v-for="subjectItem in subject.list"
                           v-bind:class="{ active: subjectItem.subjectCode === subject.activeCode}"
                           v-on:click="switchSubject(subjectItem)"
                        >
                            {{subjectItem.subjectName}}
                        </b>
                    </li>
                    <li class="c-box02" v-if="materialVersion.show">
                        <label class="c_l" th:text="#{UI_70_00_011}">教材版本</label>
                        <b class="c_btn" v-for="materialVersionItem in materialVersion.list"
                           v-bind:class="{ active: materialVersionItem.code === materialVersion.activeCode}"
                           v-on:click="switchMaterialVersion(materialVersionItem)"
                        >
                            {{materialVersionItem.name}}
                        </b>
                    </li>
                    <li class="c-box02" v-if="questionType.show">
                        <label class="c_l" th:text="#{UI_70_01_02_077}">题型</label>
                        <b class="c_btn" v-for="questionTypeItem in questionType.list"
                           v-bind:class="{ active: questionTypeItem.code === questionType.activeCode}"
                           v-on:click="switchQuestionType(questionTypeItem)"
                        >
                            {{questionTypeItem.name}}
                        </b>
                    </li>
                    <li class="c-box02" v-if="ability.show">
                        <label class="c_l" th:text="#{UI_70_01_02_089}">能力值</label>
                        <b class="c_btn" v-for="abilityItem in ability.list"
                           v-bind:class="{ active: abilityItem.code === ability.activeCode}"
                           v-on:click="switchAbility(abilityItem)"
                        >
                            {{abilityItem.name}}
                        </b>
                    </li>
                    <li class="c-box02" v-if="difficulty.show">
                        <label class="c_l" th:text="#{UI_70_01_02_088}">难易度</label>
                        <b class="c_btn" v-for="difficultyItem in difficulty.list"
                           v-bind:class="{ active: difficultyItem.code === difficulty.activeCode}"
                           v-on:click="switchDifficulty(difficultyItem)"
                        >
                            {{difficultyItem.name}}
                        </b>
                    </li>
                </ul>
            </div>
            <!-- 知识点 -->
            <div class="asider-scroll">
                <div class="box_auto">
                    <div class="textCenter" v-if="textTitle.noSelect">
                        <img th:if="${_locale} != 'zh_TW'" th:src="${_contextPath} + @{/custom/package/ppr/css/paper/img/nodata_tips.png}"/>
                        <img th:if="${_locale} == 'zh_TW'" th:src="${_contextPath} + @{/custom/package/ppr/css/paper/img/nodata_tips_tw.png}"/>
                    </div>
                    <div class="title_">
                        <i class="mulv"></i>
                        <b>{{textTitle.materialVersionName}}</b>
                    </div>
                    <div class="w01_">
                        <ul id='knowledgeTree' class='ztree'></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- Search result template-->
<script type="text/x-template" id="result-table-template">
    <tr class="question" v-bind:class="{active: isActive}">
        <td class="paper-l">
            <div class="lt_" th:inline="text" v-on:click="questionClick">
                <p class="p_t" v-if="question.stem" v-html="question.stem.richText"></p>
                <div class="p_t" v-if="question.stem.richTextOpt" v-html="question.stem.richTextOpt"></div>
                <div v-if="question.affixId" class="affix_div" th:inline="text">
                    <audio controls="controls">
                        <source v-bind:src="question.affixId" type="audio/mpeg" />
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <p class="p_c" v-for="option in question.options" v-show="option.lable != null &amp;&amp; option.lable != '' ">{{option.alias}}.<span v-html="option.lable"></span></p>
                <div class="answer_" v-if="childrenActive">
                    <div class="an_"><b>【[[#{UI_70_01_02_078}]]】</b><div class="txt_" v-html="CommUtils.analysisBlankAnswer(question.answer.strategy != null ? question.answer.strategy : question.answer.lable)">D</div></div>
                    <div class="an_"><b>【[[#{UI_70_01_02_079}]]】</b><div class="txt_" v-html="CommUtils.analysisBlankAnswer(question.answer.analysis)"></div></div>
                </div>
                <div class="p_child" v-if="question.children" v-for="childNode in question.children">
                    <p class="p_t" v-if="childNode.stem" v-html="childNode.stem.richText"></p>
                    <p class="p_c" v-for="childOption in childNode.options" v-show="childOption.lable != null &amp;&amp; childOption.lable != '' ">{{childOption.alias}}.<span v-html="childOption.lable">c</span></p>
                    <div class="answer_" v-if="isActive">
                        <div class="an_"><b>【[[#{UI_70_01_02_078}]]】</b><div class="txt_" v-html="CommUtils.analysisBlankAnswer(childNode.answer.strategy != null ? childNode.answer.strategy : childNode.answer.lable)">D</div></div>
                        <div class="an_"><b>【[[#{UI_70_01_02_079}]]】</b><div class="txt_" v-html="CommUtils.analysisBlankAnswer(childNode.answer.analysis)"></div></div>
                    </div>
                </div>
            </div>
            <div class="rt_" th:inline="text">
                <span class="btn_ btn_1" th:text="#{UI_70_01_02_072}"
                      v-if="isSelect === 0"
                      v-on:click="addToPaper">加入试卷</span>{{parent_this.condition.questionSwitch}}
                <span class="btn_ btn_2" th:text="#{UI_70_01_02_090}"
                      v-else-if="isSelect === 2">已加入试卷</span>
                <span class="btn_ btn_3" th:text="#{UI_70_01_02_073}"
                      v-else-if="isSelect === 1"
                      v-on:click="removeToPaper">移除试卷</span>
                <p class="text_">[[#{UI_70_01_02_008}]]： <span v-if="question.difficulty != null"> {{ question.type.name }}</span></p>
                <p class="text_">[[#{UI_70_01_02_076}]]： {{ question.difficulty.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p class="text_ long_work" v-bind:title="question.questionNo">[[#{UI_70_01_02_075}]]： {{ question.questionNo}}</p>
                <p class="text_" v-bind:title="question.downloadNumber">[[#{UI_70_01_02_091}]] {{ question.downloadNumber}}</p>
            </div>
        </td>
    </tr>
</script>

</body>
</html>
