html, body {
    height: 100%;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

fieldset, img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
}

table.questionFont {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 19px;
    width: 100%;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* 去掉前方的点 */
ol, ul {
    list-style: none;
}

/* 背景色 */
.previewBody {
    background-color: #F2F2F2;
}

td, th {
    display: table-cell;
}

/* 试卷div*/
.previewC {
    margin: 0px auto 20px auto;
    max-width: 1056px;
    min-height: 550px;
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-radius: 6px;
    box-shadow: 0px 0px 20px #939698;
    -moz-box-shadow: 0px 0px 20px #939698;
    -webkit-box-shadow: 0px 0px 20px #939698;
}

.previewCtn {
    /*float: left;*/
    width: 1006px;
    min-height: 550px;
    padding: 0 25px;
    position: relative;
}

/* 数据区 */
.previewArea {
    float: none;
    padding: 25px;
    width: auto;
    margin: 0 0;
    overflow: hidden;
}

.previewArea div{
    line-height: 35px;
}

/* 试卷标签 */
.volumeT {
    float: left;
    margin: 10px 0 0 0;
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #c8c8c8;
}

.previewArea .volumeT {
    min-height: 35px;
    line-height: 20px;
    text-align: left;
    text-indent: 2px;
    margin-bottom: 10px;
}

.previewArea .volumeT span {
    width: 420px;
    display: block;
	font-size: 19px;
}

/* 大题标签 */
.previewArea .volumeN span{
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-weight: 700;
    text-align: center;
	font-size: 19px;
}

.answerCtn {
    margin: 5px 0px;
}

/*.answerCtn .questionFont .breakWord {*/
    /*float: left;*/
    /*height: 30px;*/
    /*width: max-content;*/
    /*margin: 3px -1px;*/
/*}*/

.answerCtn.child {
    margin: 5px 34px;
}

.answerCtn table.questionFont td {
    position: relative;
    table-layout: fixed; /* word-wrap:break-word; */
    word-break: break-all;
    padding: 5px;
    height: 24px;
    line-height: 24px;
    Font-family: Times new Roman;
    line-height: 1.6em;
    font-size: 19px;
}

.answerCtn td {
    table-layout: fixed;
    overflow-wrap: break-word;
    height: 24px;
    font-family: "Times new Roman", ����;
    line-height: 1.6em;
    font-size: 19px;
    padding: 5px;
}

/* 题号 */
.breakWord {
    word-break: break-all;
    white-space: pre-wrap;
}

/* 选项列表 */
.answerCtn .opt_list td {
    position: relative;
    table-layout: fixed;
    word-break: break-all;
    height: 24px;
    font-family: "Times new Roman", ����;
    line-height: 1.6em;
    font-size: 19px;
    padding: 5px;
}

.answerCtn .opt_list table td p {
    display: inline;
}

/* 答案区 */
.answerGroup, .answerCtn td.answerGroup {
    display: table;
    width: 100%;
}

.answerGroup .answer, .answerGroup .answerP, .answerGroup .explain {
    float: none;
    display: table-cell;
. float: none;
    vertical-align: top;
}

.answerGroup .answerP, .answerGroup .answer {
    width: 20%;
    background: transparent;
    border: 0
}

.answerCtn .answerGroup .answer {
    width: 25%;
}

.explain {
    float: left;
    border: 1px solid #dadada;
    border-width: 1px 1px 0 1px;
    width: 70%;
}

.explain li {
    height: auto;
    min-height: 50px;
    border-bottom: 1px solid #dadada;
    /* overflow: hidden; */
}

.explain span {
    display: inline-block;
    margin: 4px 5px;
}

.eTheme.questionFont {
    margin: 9px 15px;
    min-height: 30px;
    width: 98%;
}

.yellowbg {
    text-align: center;
    background: #f7f2df;
    height: auto;
    min-height: 45px;
    width: 100%;
    vertical-align: middle;
    float: left;
    overflow: visible;
}

.yellowbg span {
    width: 53px;
    height: 100%;
    font-size: 17.5px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.previewC img {
    max-height: 600px;
    max-width: 97%;
    overflow: visible;
}

/*提干中的图片*/
.answerCtn .questionContent .docpic{
    display: block;
    float: right;
}

/*答案*/
.eTheme.questionFont .answerHeader{
    width: 50px;
    float: left;
}
.eTheme.questionFont .answerTail{
    width: 99%;
}

.divcss5-right {
    float: right;
    margin-right: 100px;
    margin-bottom: 200px;
}
.btnSwitch {
    width: 40px;
    height: 40px;
    background: url(../../img/preview/icon_switch.png) no-repeat;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 300px;
    background-size: 41px;
    background-color: #c8c8c8;
}
.btnTop {
    width: 40px;
    height: 40px;
    background: url(../../img/preview/bgIcon.png) 0 -513px;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 250px;
}
.btnPrint {
    width: 40px;
    height: 40px;
    background: url(../../img/preview/bgIcon.png) 0 -567px;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 200px;
}
.export {
    width: 40px;
    height: 40px;
    background:url(../../img/preview/bgIcon.png) -56px -513px;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 150px;
}
.exportWord {
    width: 40px;
    height: 40px;
    background:url(../../img/preview/bgIcon.png) -56px -513px;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 100px;
}
.viewAnswerCard {
    width: 40px;
    height: 40px;
    background: url(../../img/preview/answerCardIcon.png) left;
    background-color: #c8c8c8;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 50px;
}
u {
    border-bottom: 1px solid #000000;
    height: 26px;
}

